<div
  style="display: flex; justify-content: center; flex-direction: column; height: 100%; align-items: center; margin-right: 10%; margin-left: 10%;">
  <div class="container"
    style="padding: 0 !important; margin-top: 50px; margin-left: 0px; margin-right: 0px; margin-bottom: 63px;">
    <div class="card mb-1" style="height: 494px;">
      <div class="card-header"
        style="background: #14023d; color: #ffffff; display: flex; flex-direction: row; justify-content: flex-end;">
        <i class="fas fa-info-circle" matTooltip="{{'Información General de tu empresa'}}"
          matTooltipHideDelay="800"></i>
      </div>
      <div style="border-bottom-right-radius: 10px; border-bottom-left-radius: 10px; padding: 1rem 2rem 0 2rem;">
        <mat-tab-group>
          <mat-tab label="DATOS DE COMPAÑIA">
            <div style="display: flex; flex-direction: row;">
              <div class="card-body" style="display: flex; flex-direction: column; width: 100%;">
                <div style="margin: 5px; display: flex; flex-direction: column; justify-content: space-between;">
                  <div>
                    <label style="font-size: 14px; color: #23036A; margin-right: 5px;">Información básica</label>
                    <div class="dropdown-divider" style="background-color: #23036A; width: 20rem;"></div>
                  </div>
                  <div style="margin: 5px; display: flex; flex-direction: column; justify-content: flex-start;">
                    <div style="display: flex;">
                      <label style="font-size: 14px; margin-right: 5px; color: #000; font-weight: 500;">{{'Nombre de la
                        compañia:
                        '}}</label>
                      <label style="font-size: 12px; margin-left: 5px; color: #000;">{{nameCompany ? nameCompany :
                        '-'}}</label>
                    </div>
                    <div style="display: flex;">
                      <label style="font-size: 14px; margin-right: 5px; color: #000; font-weight: 500;">{{'Fecha de
                        registro de la compañia: '}}</label>
                      <label style="font-size: 12px; margin-left: 5px; color: #000;">{{dateCompany ? dateCompany :
                        '-'}}</label>
                    </div>
                    <div style="display: flex;">
                      <label style="font-size: 14px; margin-right: 5px; color: #000; font-weight: 500;">{{'NIT de la
                        compañia: '}}</label>
                      <label style="font-size: 12px; margin-left: 5px; color: #000;">{{nit ? nit :
                        '-'}}</label>
                    </div>
                  </div>
                </div>
                <div style="margin: 5px; display: flex; flex-direction: column; align-items: flex-end;">
                  <div style="display: flex; flex-direction: column; align-items: flex-end;">
                    <label style="font-size: 14px; color: #23036A; margin-right: 5px;">Información de contacto de la
                      compañia</label>
                    <div class="dropdown-divider" style="background-color: #23036A; width: 20rem;"></div>
                  </div>
                  <div style="margin: 5px; display: flex; flex-direction: column; justify-content: space-between;">
                    <div style="display: flex;">
                      <label style="font-size: 14px; margin-right: 5px; color: #000; font-weight: 500;">{{'Correo:
                        '}}</label>
                      <label style="font-size: 12px; margin-left: 5px; color: #000;">{{email ? email :
                        '-'}}</label>
                    </div>
                    <div style="display: flex;">
                      <label style="font-size: 14px; margin-right: 5px; color: #000; font-weight: 500;">{{'Celular:
                        '}}</label>
                      <label style="font-size: 12px; margin-left: 5px; color: #000;">{{celular ? celular :
                        '-'}}</label>
                    </div>
                  </div>
                </div>
                <div style="margin: 5px; display: flex; flex-direction: column; justify-content: space-between;">
                  <div>
                    <label style="font-size: 14px; color: #23036A; margin-right: 5px;">Descripción de la
                      compañia</label>
                    <div class="dropdown-divider" style="background-color: #23036A; width: 20rem;"></div>
                  </div>
                  <div style="margin: 5px; display: flex; flex-direction: column; justify-content: flex-start;">
                    <div style="display: flex;">
                      <label style="font-size: 14px; margin-right: 5px; color: #000; font-weight: 500;">{{'Descripción
                        de la compañia:'}}</label>
                      <label style="font-size: 12px; margin-left: 5px; color: #000;">{{descriptionCompany ?
                        descriptionCompany : '-' }}</label>
                    </div>
                  </div>
                </div>
              </div>

              <div class="dropdown-divider" style="background-color: #23036A; width: 1px; height: 307px;"></div>

              <div class="card-body" style="display: flex; flex-direction: column;">
                <div style="margin: 5px; display: flex; flex-direction: column;">
                  <div>
                    <label style="font-size: 14px; color: #23036A; margin-right: 5px;">Codigo de la Compañia</label>
                    <div class="dropdown-divider" style="background-color: #23036A;"></div>
                  </div>
                  <div style="margin: 5px; display: flex; justify-content: flex-end;">
                    <div style="display: flex; justify-content: flex-end; margin-left: 5px; margin-right: 5px;"
                      [hidden]="buttomValidation">
                      <button matTooltip="Copiar codigo" matTooltipHideDelay="1000" class="btn btn-outline-info"
                        (click)="copyCode()">
                        {{codeCompany ? codeCompany :'-'}}
                      </button>
                      <i [hidden]="disableLoadCOde" matTooltip="Nuevo codigo" matTooltipHideDelay="1000"
                        class="btn btn-link animation" (click)="updateCodeCompany()">
                        <i class="fas fa-sync-alt"></i>
                      </i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </mat-tab>

          <mat-tab label="USUARIOS">
            <div class="conten-report">
              <div style="margin: 8px 1rem 8px; display: flex; justify-content: space-between;">
                <div *ngIf="infoUsers.length > 0">
                  <button (click)="updateUsersState(false)" matTooltip="Deshabilitar" matTooltipHideDelay="1000"
                    [disabled]="(checkboxesSelected < 1)" type="button" class="btn btn-secondary"
                    style=" margin-right: 5px;">
                    <i class="far fa-user-slash"></i>
                  </button>
                  <button (click)="updateUsersState(true)" matTooltip="Habilitar" matTooltipHideDelay="1000"
                    [disabled]="(checkboxesSelected < 1)" type="button" class="btn btn-success"
                    style=" margin-right: 5px;">
                    <i class="far fa-user"></i>
                  </button>
                </div>
                <div>
                  <i [hidden]="disableLoadTable" matTooltip="Actualizar tabla" matTooltipHideDelay="1000"
                    class="btn btn-link animation" (click)="loadtable()">
                    <i class="fas fa-redo-alt"></i>
                  </i>
                </div>
              </div>

              <div class="dropdown-divider" style="margin-top: 3px; margin-bottom: 3px;background-color: #23036A;">
              </div>

              <div *ngIf="infoUsers.length > 0">
                <div class="scroll-style" style="overflow-y: scroll; height: 44vh;">
                  <table mat-table [dataSource]="dataSource">
                    <ng-container matColumnDef="check">
                      <th mat-header-cell *matHeaderCellDef>
                        <mat-checkbox [hidden]="(checkboxesSelected > 1)" class="example-margin"
                          (click)="toggleAll(true)" [checked]="(checkboxesSelected > 1)">
                        </mat-checkbox>
                        <mat-checkbox class="example-margin" [hidden]="(checkboxesSelected < 2)"
                          (click)="toggleAll(false)" [checked]="(checkboxesSelected > 0)">
                        </mat-checkbox>
                      </th>
                      <td mat-cell *matCellDef="let data">
                        <div *ngIf="data.rol == 'user'">
                          <mat-checkbox [checked]="data.statusCheck" class="example-margin"
                            (change)="toggle(data, $event)" (click)="$event.stopPropagation()">
                          </mat-checkbox>
                        </div>
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="idN">
                      <th mat-header-cell *matHeaderCellDef> N°</th>
                      <td mat-cell *matCellDef="let data">
                        {{data.idN ? data.idN : '-'}}
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="name_employe">
                      <th mat-header-cell *matHeaderCellDef> Nombre de Empleado </th>
                      <td mat-cell *matCellDef="let data">
                        <!-- <button class="btn btn-links" [routerLink]="['/user/', data.user_code]"
                          routerLinkActive="router-link-active">
                          {{data.name ? data.name : '-'}} {{data.lastName ? data.lastName : '-'}}</button> -->
                        {{data.name ? data.name : '-'}} {{data.lastName ? data.lastName : '-'}}
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="user_name">
                      <th mat-header-cell *matHeaderCellDef> Usuario </th>
                      <td mat-cell *matCellDef="let data">{{data.user_name ? data.user_name : '-'}}
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="rol">
                      <th mat-header-cell *matHeaderCellDef> Rol </th>
                      <td mat-cell *matCellDef="let data"> {{data.rol ? data.rol : '-'}} </td>
                    </ng-container>
                    <ng-container matColumnDef="age">
                      <th mat-header-cell *matHeaderCellDef>Edad</th>
                      <td mat-cell *matCellDef="let data"> {{data.age ? data.age : '-'}} </td>
                    </ng-container>
                    <ng-container matColumnDef="user_cell">
                      <th mat-header-cell *matHeaderCellDef>Celular</th>
                      <td mat-cell *matCellDef="let data"> {{data.cell ? data.cell : '-'}} </td>
                    </ng-container>
                    <ng-container matColumnDef="user_email">
                      <th mat-header-cell *matHeaderCellDef>Correo</th>
                      <td mat-cell *matCellDef="let data"> {{data.email ? data.email : '-'}} </td>
                    </ng-container>
                    <ng-container matColumnDef="user_create_date">
                      <th mat-header-cell *matHeaderCellDef> Fecha de creación </th>
                      <td mat-cell *matCellDef="let data"> {{data.date_create ? data.date_create : '-'}} </td>
                    </ng-container>
                    <ng-container matColumnDef="user_status">
                      <th mat-header-cell *matHeaderCellDef>Estado</th>
                      <td mat-cell *matCellDef="let data">
                        <div class="form-check form-switch" style="display: flex; justify-content: center;">
                          <input color="primary" [disabled]="data.rol == 'admin'"
                            matTooltip="{{data.user_status == true ? 'habilitado' : 'desabilitado'}}"
                            matTooltipHideDelay="800" (change)="updateUserState(data)" [checked]="data.user_status"
                            class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                        </div>
                      </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>
                </div>
                <div *ngIf="infoUsers.length > 10"
                  style="text-align: end; display: flex; align-items: flex-end; justify-content: flex-end;">
                  <button [disabled]="page == 1" matTooltip="Anteriro" matTooltipHideDelay="1000" type="button"
                    class="btn" color="warn" (click)="PaginationPrevious()">
                    <i class="fad fa-angle-left"></i>
                  </button>
                  <h6>{{page + '/' }} {{totalPage}}</h6>
                  <button [disabled]="page == totalPage" matTooltip="Siguiente" matTooltipHideDelay="1000" type="button"
                    class="btn" color="warn" (click)="PaginationNext()">
                    <i class="fad fa-angle-right"></i>
                  </button>
                </div>
              </div>

              <div>
                <div *ngIf="infoUsers.length < 1">
                  <div class="text-center" *ngIf="validationStatus">
                    <div class="container form-controls">
                      <h1 class="form-controls" style="text-align: center;">{{componentValidator1}}</h1>
                      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    </div>
                  </div>
                  <div class="text-center" *ngIf="validationError">
                    <div class="container form-controls">
                      <h1 class="form-controls" style="text-align: center;">{{componentValidatorError}}</h1>
                    </div>
                  </div>
                  <div class="text-center" *ngIf="!validationStatus">
                    <div class="container form-controls">
                      <h1 class="form-controls" style="text-align: center;">{{componentValidator2}}</h1>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>