table {
  width: 100%;
  margin-bottom: 1rem;
}

td,
th:nth-child(1),
td:nth-child(1) {
  width: 5%;
  text-align: center;
}
th:nth-child(2),
td:nth-child(2) {
  width: 20%;
  text-align: center;
}
th:nth-child(3),
td:nth-child(3) {
  width: 10%;
  text-align: center;
}
th:nth-child(4),
td:nth-child(4) {
  width: 10%;
  text-align: center;
}
th:nth-child(5),
td:nth-child(5) {
  width: 10%;
  text-align: center;
}
th:nth-child(6),
td:nth-child(6) {
  width: 10%;
  text-align: center;
}
th:nth-child(7),
td:nth-child(7) {
  width: 10%;
  text-align: center;
}
th:nth-child(8),
td:nth-child(8) {
  width: 10%;
  text-align: center;
}
th:nth-child(9),
td:nth-child(9) {
  width: 10%;
  text-align: center;
}
th:nth-child(10),
td:nth-child(10) {
  width: 10%;
  text-align: center;
}

h6 {
  margin: 0px 0 10px;
}
a {
  color: black;
  cursor: pointer;
}

a:hover {
  color: blue;
}
.animation:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
  transition: all 0.5s ease-in-out;
}
.conten-report {
  display: flex;
  flex-direction: column;
  /* height: 83vh; */
  justify-content: space-between;
  align-items: stretch;
}
.btn-check:focus + .btn,
.btn:focus {
  outline: 0;
  box-shadow: none;
}
.btn-links {
  font-weight: 400;
  color: #000;
  text-decoration: underline;
}
.btn-links:hover {
  color: #0a58ca;
}
