<div>
  <nav aria-label="breadcrumb" style="margin: 2rem;">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="['/user']" routerLinkActive="router-link-active">Usuario</a></li>
      <li class="breadcrumb-item " aria-current="page">{{name}}</li>
    </ol>
  </nav>
</div>
<div style="margin: 2rem;">
  <section class="content" style="display: flex; flex-wrap: wrap; align-content: center;">
    <div class="container">
      <div style="display: flex; flex-direction: column; align-items: center;">
        <div class="card-contents">
          <div style="display: flex; flex-direction: column; align-items: center;">
            <h1>Actualizar empleado</h1>
          </div>
          <form [formGroup]="formEmploye" (ngSubmit)="updateUserById()">
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Nombre de usuario" aria-label="username"
                aria-describedby="basic-addon1" formControlName="userName">
            </div>
            <div class="input-group mb-3">
              <input [type]="hideIconEmploye ? 'password' : 'text'" class="form-control" placeholder="Contraseña"
                aria-label="Password" aria-describedby="basic-addon1" formControlName="password">
              <span class="input-group-text" id="basic-addon1" style="background-color: white;">
                <div *ngIf="iconsPasswordEmploye">
                  <i class="fas fa-eye" style="cursor: pointer; width: 15px; cursor: pointer;"
                    (click)="changeIconPassword()"></i>
                </div>
                <div *ngIf="!iconsPasswordEmploye ">
                  <i class="fas fa-eye-slash" style="cursor: pointer; width: 15px; cursor: pointer;"
                    (click)="changeIconPassword()"></i>
                </div>
              </span>
            </div>
            <div class="input-group mb-3">
              <input [type]="hideIconEmploye ? 'password' : 'text'" class="form-control"
                placeholder="Confirmar Contraseña" aria-label="Password" aria-describedby="basic-addon1"
                formControlName="confirPassword">
              <span class="input-group-text" id="basic-addon1" style="background-color: white;">
                <div *ngIf="iconsPasswordEmploye ">
                  <i class="fas fa-eye" style="cursor: pointer; width: 15px; cursor: pointer;"
                    (click)="changeIconPassword()"></i>
                </div>
                <div *ngIf="!iconsPasswordEmploye ">
                  <i class="fas fa-eye-slash" style="cursor: pointer; width: 15px; cursor: pointer;"
                    (click)="changeIconPassword()"></i>
                </div>
              </span>
            </div>
            <div class="mb-3 col" style="display: flex; justify-content: center; width: 100%;">
              <div style="margin-right: 5px;">
                <button [disabled]="formEmploye.invalid" type="submit" class="btn btn-success button-login btn-sm">
                  <span class="input-group-text" id="basic-addon1"
                    style="background-color: transparent; border: none; padding: 5px 5px 5px 0px;">
                    <i class="fas fa-check" style="color: white;"></i>
                  </span>
                  Actualizar Empleado
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>