.card[_ngcontent-c1] {
  display: table-cell;
  vertical-align: middle;
}
.content {
  background-size: 100%;
  background-repeat: no-repeat;
  height: 100%;
}

.card-contents {
  box-shadow: inset 0 0 100px 100px rgb(255 255 255 / 10%);
  border-radius: 5px;
  background-color: #2b3557;
  padding: 1rem 1rem;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: white;
}
h3 {
  color: white;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.button-login {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
