.fa,
.fas {
  font-family: "Font Awesome 5 Pro";
  color: #008ffb;
  font-weight: 90 !important;
}
.fa,
.far {
  font-family: "Font Awesome 5 Pro";
  color: #008ffb;
  font-weight: 500 !important;
}
i {
  font-size: 20px;
}
.animation:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
  transition: all 0.55s ease-in-out;
}
.card-body {
  flex: 1 1 auto;
  padding: 1rem 1rem 0rem 1rem;
}
