<div [hidden]="statusGrafic">
</div>
<div class="card card-chart" [hidden]="!statusGrafic">
  <div class="card-body">
    <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [yaxis]="chartOptions.yaxis"
      [fill]="chartOptions.fill" [xaxis]="chartOptions.xaxis" [dataLabels]="chartOptions.dataLabels"
      [grid]="chartOptions.grid" [stroke]="chartOptions.stroke" [title]="chartOptions.title"></apx-chart>
  </div>
  <div class="card-footer" style="display: flex; flex-direction: row; justify-content: space-between;">
    <i class="fas fa-info-circle" matTooltip="{{infoText}}" matTooltipHideDelay="800"></i>
    <i class="fas fa-redo-alt animation" matTooltip="recargar grafica" matTooltipHideDelay="800"
      (click)="getDataGrafic()"></i>
  </div>
</div>