#map {
  height: 100%;
  width: 100%;
}

#mapdetail,
#streetviewl {
  float: left;
  width: 22vw;
  height: 28vh;
}

.size-menu {
  top: 67px;
  width: 20vw;
}

.flotante {
  position: fixed;
  top: 140px;
  right: 10px;
  font-size: 30px;
  height: 27px;
  z-index: 99;
}

/* menu lateral */

.example-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row-reverse;
}

.example-sidenav-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  width: 400px;
}

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0;
}

.navbar > .container-fluid {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
  background: #2b3557;
  height: 65px;
}

.title-nav {
  color: white;
  cursor: pointer;
}
.title-nav:focus {
  color: white;
}

.btn-icon-toggle {
  border-radius: 999px;
}
i {
  color: #fff;
  width: 18px;
  height: 18px;
  font-size: 18px;
}
a {
  cursor: pointer;
  display: flex;
  align-items: center;
}

h6 {
  margin: 8px;
}

.gui-icon {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  -webkit-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear;
}
.side-bar-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

.side-bar-expand {
  display: flex;
  flex-direction: column;
  font-size: 15px;
}

.header-code {
  background: #19202f;
  padding: 8px;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-code-report {
  color: #ffffff;
  height: 25px;
  font-size: 16px;
}
.expand-scroll-detail {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-height: 100vh;
  overflow-y: scroll;
  align-items: stretch;
  margin-top: 10px;
  border: none;
  padding-left: 10px;
  padding-right: 17px;
}
.options-reports {
  flex-direction: column;
  cursor: pointer;
  color: #496ea2;
  text-decoration: none;
}
.options-icons-reports {
  color: #496ea2;
  height: 25px;
  font-size: 25px;
}
.profile-image-header {
  width: 85px;
  height: 85px;
  background-color: rgb(245, 245, 245);
  border-radius: 50%;
  text-align: center;
  line-height: 85px;
  margin-right: 30px;
  font-size: 50px;
}
