<!-- Menu Reporte -->
<div class="example-container" autosize>
  <div [hidden]="!showFiller" class="example-sidenav" mode="side">
    <div class="header" style="background-color: #19202f;">
      <div style="margin: 10px;">
        <a>
          <i style="color: rgb(255, 255, 255);" class="fas fa-angle-right menubar-toggle"
            (click)="showFiller = !showFiller"></i>
        </a>
      </div>
      <div class="header-code">
        <div class="header-code-report">
          <label>{{codeReport}}</label>
        </div>
      </div>
      <div class="card-header"
        style="display: flex;flex-direction: row; justify-content: space-evenly; background: #ffffff;">
        <a class="options-reports" [routerLink]="['/report', codeReport]" routerLinkActive="router-link-active">
          <i class="far fa-file-alt options-icons-reports"></i>
          DETALLES
        </a>
        <!-- <a class="options-reports">
          <i class="far fa-map-marker-alt options-icons-reports"></i>
          UBICACION
        </a> -->
      </div>
    </div>
    <div class="card mb-1 expand-scroll-detail scroll-style">
      <div class="card-body" style="padding: 0;width: 21vw;  color: #496ea2; margin-top: 10px;">
        <div style=" border: none; display: flex; flex-direction: row; margin-bottom: 10px;">
          <label style="font-size: 25px; margin-right: 10px;" class="title">{{'Novedad'}}</label>
          -
          <a matTooltip="Detalle" matTooltipHideDelay="1000" [routerLink]="['/report', codeReport]"
            routerLinkActive="router-link-active" routerLinkActive="router-link-active"
            style="font-size: 15px; margin-left: 10px;">{{codeReport}}</a>
        </div>
        <div style=" border: none; display: flex; flex-direction: column; ">
          <div style="display: flex; flex-direction: column;">
            <label style="font-size: 15px;">{{'Dirección: '}}</label>
            <label style="font-size: 15px; color: #000; font-weight: 500;">{{addAddress}}</label>
          </div>
          <div style="display: flex; flex-direction: column; margin-bottom: 10px;">
            <label style=" font-size: 15px;  margin-right: 2px;" class="title">{{'tipo de novedad: '}}</label>
            <label style="font-size: 15px; color: #000; font-weight: 500;">{{ categoryReport |
              titlecase}}</label>
          </div>
          <div style="display: flex; flex-direction: column; margin-bottom: 10px;">
            <label style=" font-size: 15px;  margin-right: 2px;" class="title">{{'descripción de novedad :' |
              titlecase}}</label>
            <label style="font-size: 15px; color: #000; font-weight: 500;">{{ descriptionReport}}</label>
          </div>
        </div>
        <div hidden id="mapdetail"></div>
        <div id="streetviewl"></div>
      </div>
      <div class="footer" style="padding: 0;width: 21vw; margin-top: 20px;">
        <div class=" form-control"
          style=" border-bottom: none;  color: #496ea2; border-left: none; border-right: none;">
          <label class="title">{{'Agente'}}</label>
          <div class="title" style="display: flex; align-items: center; justify-content: flex-start;">
            <div class="profile-image-header ng-scope"><span>{{nameAvatar | uppercase }}</span></div>
            <label style="font-size: 15px; font-weight: 500;">{{nameUser | titlecase}}</label>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- mapa -->
  <div id="map">
  </div>
</div>