<div style="display: flex; justify-content: center;">
  <div class="card">
    <div class="card-body" style="max-height: 90px;">
      <div>
        <form (ngSubmit)="getReportRank()" [formGroup]="formGrafic" style="display: flex; ">
          <input class="form-control" type="datetime-local" formControlName="startDate" style="margin: 5px;">
          <input class="form-control" type="datetime-local" formControlName="finalDate" style="margin: 5px;">
          <button [disabled]="formGrafic.invalid" type="submit" class="btn btn-link" style="margin: 5px; padding: 0px;">
            <i class="fas fa-search" style="font-size: 20px;"></i>
          </button>
        </form>
      </div>
    </div>
    <apx-chart [hidden]="!statusGrafic" [series]="chartOptions.series" [chart]="chartOptions.chart"
      [dataLabels]="chartOptions.dataLabels" [plotOptions]="chartOptions.plotOptions" [yaxis]="chartOptions.yaxis"
      [xaxis]="chartOptions.xaxis" [stroke]="chartOptions.stroke" [grid]="chartOptions.grid" [fill]="chartOptions.fill"
      [annotations]="chartOptions.annotations"></apx-chart>
  </div>
</div>