.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  align-items: center;
  box-shadow: 9px 12px 20px 0px #f6eeee;
  /* width: 50vw;
  max-width: 50vw;
  height: 53vh;
  max-height: 60vh; */
}
