<div style="margin: 2rem;">
  <div style="margin-bottom: 20px; display: flex; justify-content: space-between;">
    <div style="display: flex;">
      <div>
        <button [disabled]="buttomValidation" type="button" class="btn btn-success"
          style="background-color: #23036A; margin-right: 5px;" (click)="openDialog()">
          Agregar novedad
        </button>
      </div>
    </div>
    <div style="display: flex; flex-direction: row; justify-content: space-evenly; align-items: center;">
      <div style=" margin-right: 5px; display: flex; flex-direction: row;">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="buscar" inputmode="latin" [formControl]="searchControl"
            style="border: none; box-shadow: none;">
          <span class="input-group-text" style="background-color: white; border: none;">
            <button [disabled]="searchControl.value == ''" style="background-color: transparent; border: none;"
              class="btn btn-primary">
              <img (click)="filterNovedad()" class="search" src="../../../assets//icons/search.svg"
                style="cursor: pointer; width: 15px;">
            </button>
            <!-- <button style="background-color: transparent; border: none;" class="btn btn-primary icon-filter"
              type="button" data-bs-toggle="dropdown" aria-expanded="false">
            </button>
            <ul class="dropdown-menu dropdown-menu-end">
              <li><a class="dropdown-item"></a></li>
              <li><a class="dropdown-item">Another action</a></li>
              <li><a class="dropdown-item">Something else here</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item">Separated link</a></li>
            </ul> -->
          </span>
        </div>
      </div>
      <div style=" margin-left: 5px;">
        <button [hidden]="buttonLeftAction"
          style="background-color: transparent; border: none; padding-left: 0; padding-top: 0; padding-bottom: 0;"
          class="btn btn-primary">
          <img [hidden]="disableLoadTable" matTooltip="Actualizar tabla" matTooltipHideDelay="100" class="animation"
            (click)="loadtable()" src="../../../assets//icons/refresh.svg">
        </button>
        <button [hidden]="!buttonLeftAction"
          style="background-color: transparent; border: none; padding-left: 0; padding-top: 0; padding-bottom: 0;"
          class="btn btn-primary">
          <img [hidden]="disableLoadTable" style="width: 26px;" matTooltip="Restablecer filtro"
            matTooltipHideDelay="100" (click)="cancelFilter()" src="../../../assets//icons/close.svg">
        </button>
      </div>
    </div>
  </div>

  <div *ngIf="infoReport.length < 1" class="dropdown-divider" style="background-color: #23036A;"></div>

  <div *ngIf="statusRolAdmin && infoReport.length > 0" class="card card-chart scroll-style"
    style="border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom-right-radius: 12px; border-bottom-left-radius: 12px;">
    <div class="scroll-style" style="overflow-y: scroll; height: 66vh;">
      <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortByCategory($event)"
        style="background-color: transparent;">
        <!-- Se piensa habilitar para futuras versiones -->
        <!-- <ng-container matColumnDef="check">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox [hidden]="(checkboxesSelected > 0)" class="example-margin" (click)="toggleAll(true)">
          </mat-checkbox>
          <mat-checkbox class="example-margin" [hidden]="(checkboxesSelected < 1)" (click)="toggleAll(false)"
            [checked]="(checkboxesSelected > 1)">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let data">
          <mat-checkbox [checked]="data.statusCheck" class="example-margin" (change)="toggle(data, $event)"
            (click)="$event.stopPropagation()">
          </mat-checkbox>
        </td>
      </ng-container> -->
        <ng-container matColumnDef="rep_code">
          <th mat-header-cell *matHeaderCellDef>Código</th>
          <td mat-cell *matCellDef="let data">
            <a [routerLink]="['/report/', data.rep_code]" routerLinkActive="router-link-active">
              {{data.rep_code}}
            </a>
          </td>
        </ng-container>
        <ng-container matColumnDef="rep_description">
          <th mat-header-cell *matHeaderCellDef>Descripción </th>
          <td mat-cell *matCellDef="let data">
            <a [routerLink]="['/report/', data.rep_code]" routerLinkActive="router-link-active">
              {{data.rep_description.substring(0,40)}}...
            </a>
          </td>
        </ng-container>
        <ng-container matColumnDef="rep_address">
          <th mat-header-cell *matHeaderCellDef>Dirección</th>
          <td mat-cell *matCellDef="let data">
            {{data.rep_address}} </td>
        </ng-container>
        <ng-container matColumnDef="cat_name">
          <th mat-header-cell *matHeaderCellDef>
            <div mat-sort-header="categoria" style="margin-left: 63px;"> Categoria</div>
          </th>
          <td mat-cell *matCellDef="let data">{{data.cat_name}}</td>
        </ng-container>
        <!-- Se piensa habilitar para futuras versiones -->
        <!-- <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>status de la novedad</th>
        <td mat-cell *matCellDef="let data">
          {{data.rep_status}}
        </td>
      </ng-container> -->
        <ng-container matColumnDef="user_name">
          <th mat-header-cell *matHeaderCellDef>Usuario</th>
          <td mat-cell *matCellDef="let data"> {{data.user_name}} </td>
        </ng-container>
        <ng-container matColumnDef="names_user">
          <th mat-header-cell *matHeaderCellDef>Nombre de usuario</th>
          <td mat-cell *matCellDef="let data"> {{data.name | titlecase}} {{data.last_name | titlecase}}</td>
        </ng-container>
        <ng-container matColumnDef="user_rol">
          <th mat-header-cell *matHeaderCellDef>
            <div mat-sort-header="rol" style="margin-left: 53px;">Rol</div>
          </th>
          <td mat-cell *matCellDef="let data">
            {{data.user_rol}}
          </td>
        </ng-container>
        <!-- Se piensa habilitar para futuras versiones -->
        <!-- <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef [hidden]="(checkboxesSelected > 1)"> Acciones </th>
        <td mat-cell *matCellDef="let data" [hidden]="(checkboxesSelected > 1)">
          <i class="far fa-trash-alt" style="cursor: pointer; color: red;" (click)="deleteUser(data.rep_code)"></i>
        </td>
      </ng-container> -->
        <tr mat-header-row *matHeaderRowDef="displayedColumnsAdmin"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsAdmin;"></tr>
      </table>
    </div>
    <div [hidden]="paginationStatus" *ngIf="infoReport.length > 10"
      style="text-align: end; display: flex; align-items: flex-end; justify-content: flex-end;">
      <button [disabled]="page == 1" matTooltip="Anteriro" matTooltipHideDelay="1000" type="button" class="btn"
        (click)="PaginationPrevious()">
        <i class="fad fa-angle-left"></i>
      </button>
      <h6>{{page + '/' }} {{totalPage}}</h6>
      <button [disabled]="page == totalPage" matTooltip="Siguiente" matTooltipHideDelay="1000" type="button" class="btn"
        (click)="PaginationNext()">
        <i class="fad fa-angle-right"></i>
      </button>
    </div>
  </div>

  <div *ngIf="statusRolUser && infoReport.length > 0" class="card card-chart scroll-style"
    style="border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom-right-radius: 12px; border-bottom-left-radius: 12px;">
    <div class="scroll-style" style="overflow-y: scroll; height: 66vh;">
      <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortByCategory($event)">
        <ng-container matColumnDef="rep_code">
          <th mat-header-cell *matHeaderCellDef>Código</th>
          <td mat-cell *matCellDef="let data">
            <a [routerLink]="['/report/', data.rep_code]" routerLinkActive="router-link-active">
              {{data.rep_code}}
            </a>
          </td>
        </ng-container>
        <ng-container matColumnDef="rep_description">
          <th mat-header-cell *matHeaderCellDef>Descripcción</th>
          <td mat-cell *matCellDef="let data">
            <a [routerLink]="['/report/', data.rep_code]" routerLinkActive="router-link-active">
              {{data.rep_description.substring(0,40)}}...
            </a>
          </td>
        </ng-container>
        <ng-container matColumnDef="cat_name">
          <th mat-header-cell *matHeaderCellDef>
            <div mat-sort-header="categoria" style="margin-left: 92px;"> Categoria</div>
          </th>
          <td mat-cell *matCellDef="let data"> {{data.cat_name}} </td>
        </ng-container>
        <ng-container matColumnDef="rep_address">
          <th mat-header-cell *matHeaderCellDef>Dirección</th>
          <td mat-cell *matCellDef="let data"> {{data.rep_address}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumnsUser"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsUser;"></tr>
      </table>
    </div>
    <div [hidden]="paginationStatus" *ngIf="infoReport.length > 10"
      style="text-align: end; display: flex; align-items: flex-end; justify-content: flex-end;">
      <button [disabled]="page == 1" matTooltip="Anteriro" matTooltipHideDelay="1000" type="button" class="btn"
        (click)="PaginationPrevious()">
        <i class="fad fa-angle-left"></i>
      </button>
      <h6>{{page + '/' }} {{totalPage}}</h6>
      <button [disabled]="page == totalPage" matTooltip="Siguiente" matTooltipHideDelay="1000" type="button" class="btn"
        (click)="PaginationNext()">
        <i class="fad fa-angle-right"></i>
      </button>
    </div>
  </div>
</div>

<div *ngIf="infoReport.length < 1" style="margin-top: 11rem;">
  <div class="text-center" *ngIf="validationStatus">
    <div class="container form-controls">
      <h1 class="form-controls" style="text-align: center;">{{componentValidator1}}</h1>
      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    </div>
  </div>
  <div class="text-center" *ngIf="  !validationStatus">
    <div class="container form-controls">
      <h1 class="form-controls" style="text-align: center;">{{componentValidator2}}</h1>
    </div>
  </div>
  <div class="text-center" *ngIf="validationError  ">
    <div class="container form-controls">
      <h1 class="form-controls" style="text-align: center;">{{componentValidatorError}}</h1>
    </div>
  </div>
  <!-- <div class="text-center" *ngIf="">
    <div class="container form-controls">
      <h1 class="form-controls" style="text-align: center;">{{componentValidator2}}</h1>
      <div [hidden]="buttomValidation"
        style="display: flex; flex-direction: row; justify-content: center; align-items: center;">
        <button type="button" (click)="openDialog()" class="btn btn-link">Registe
          novedades aqui
        </button>
        <i style="font-size: 20px;" class="fas fa-long-arrow-alt-left"></i>
      </div>
    </div>
  </div> -->
</div>