table {
  width: 100%;
  text-align: center;
}

th:nth-child(1),
td:nth-child(1) {
  width: 15%;
  padding-left: 13px !important;
  text-align: center;
}
th:nth-child(2),
td:nth-child(2) {
  width: 15%;
  text-align: center;
}
th:nth-child(3),
td:nth-child(3) {
  width: 25%;
  text-align: center;
}
th:nth-child(4),
td:nth-child(4) {
  width: 15%;
  text-align: center;
}
th:nth-child(5),
td:nth-child(5) {
  width: 10%;
  text-align: center;
}
th:nth-child(6),
td:nth-child(6) {
  width: 10%;
  text-align: center;
}
th:nth-child(7),
td:nth-child(7) {
  width: 10%;
  text-align: center;
  padding-right: 0px !important;
}

h6 {
  margin: 0px 0 10px;
}
a {
  color: black;
  cursor: pointer;
}

a:hover {
  color: blue;
}
.description {
  width: 139px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  height: 25px;
}
.descriptionUser {
  width: 230px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  height: 25px;
  margin-left: 55px;
}
.animation:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
  transition: all 0.55s ease-in-out;
}
.btn-check:focus + .btn,
.btn:focus {
  outline: 0;
  box-shadow: none;
}
.btn-links {
  font-weight: 400;
  color: #000;
  text-decoration: underline;
}
.btn-links:hover {
  color: #0a58ca;
}
.conten-report {
  display: flex;
  flex-direction: column;
  /* height: 83vh; */
  justify-content: space-between;
  align-items: stretch;
}
img {
  width: 20px;
}

.search:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  transition: 1s;
}
