.card[_ngcontent-c1] {
  display: table-cell;
  vertical-align: middle;
}
.content {
  background-color: #e1e2e1;
  height: 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: scroll;
}

.card-contents {
  box-shadow: inset 0 0 100px 100px rgb(255 255 255 / 10%);
  border-radius: 5px;
  background-color: #2b3557;
  padding: 1rem 1rem;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: white;
}
h3 {
  color: white;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.button-login {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.scroll-style::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 10px;
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
}
.card-register {
  display: flex;
  flex-direction: row;
  border: none;
  background-color: transparent;
  width: 80vw;
  height: 90vh;
  margin: 2rem;
  justify-content: center;
}
.card-form-company {
  border-top-left-radius: 45px;
  border-bottom-left-radius: 45px;
  background-color: #fff;
  border: none;
  padding: 2rem;
  width: 565px;
  height: 608px;
  display: flex;
  justify-content: space-between;
}
.card-form-user-company {
  border-top-right-radius: 45px;
  border-bottom-right-radius: 45px;
  background-color: #23036a;
  border: none;
  padding: 2rem;
  display: flex;
  width: 565px;
  height: 608px;
}

.button-link {
  font-weight: 500;
  color: #23036a;
  border: solid 1px white;
  padding: 0;
}
.button-register {
  color: #23036a;
  background-color: #ffffff;
  border-color: #23036a;
}
