<section class="content scroll-style" style="display: flex; flex-wrap: wrap; align-content: center;">
  <div class="card card-register">
    <div class="card card-form-company">
      <div style="display: flex; flex-direction: column;justify-content: space-between; height: 20%;">
        <div style="display: flex; flex-direction: row;justify-content: space-between;">
          <div style="text-align: start; color: #0D146A; font-size: 25px;">
            <label>Novedapp</label>
          </div>
          <div *ngIf="submitted && formCompany.invalid && formUserCompany.invalid"
            style="text-align: start; color: red; font-size: 15px;">
            <label>Los campos en rojo son
              obligatorios</label>
          </div>
        </div>
        <div style="text-align: start; color: #0D146A; display: flex; flex-direction: column;">
          <label style="font-size: 15px;">¡Hola!</label>
          <label style="font-size: 15px;">Registrese para comenzar.</label>
        </div>
        <div style="text-align: start; color: #0D146A; font-size: 15px; font-weight: 500;">
          <label>Datos de la empresa</label>
        </div>
      </div>

      <form [formGroup]="formCompany"
        style="display: flex; flex-direction: column; justify-content: space-between; margin: 1rem 1rem; align-items: inherit;">
        <div style="display: flex; justify-content: space-between;">
          <div style="width: 45%;">
            <label style="color: #0D146A; margin-bottom: 5px;">Nit</label>
            <input type="number" class="form-control input-form-company" formControlName="nit"
              placeholder="589789794_8">
          </div>
          <div style="width: 45%;">
            <label *ngIf="!submitted || formCompany.controls.nameCompany.valid"
              style="color: #0D146A; margin-bottom: 5px;">Nombre de la empresa*</label>
            <label *ngIf="submitted && formCompany.controls.nameCompany.errors"
              style="color: #f50000; margin-bottom: 5px;">Nombre de la empresa*</label>
            <input type="text" class="form-control input-form-company" formControlName="nameCompany"
              [ngClass]="{'input-invalid' : (submitted && formCompany.controls.nameCompany.errors)}"
              placeholder="Nombre de la empresa">
          </div>
        </div>
        <div
          style="display: flex; justify-content: space-between; margin: 1rem 0rem; display: flex; flex-direction: column;">
          <label style="color: #0D146A; margin-bottom: 5px;">Descripción</label>
          <input type="text" class="form-control input-form-company" formControlName="descriptionCompany"
            placeholder="Aqui va una breve descripción de su empresa">
        </div>
        <div style="display: flex; flex-direction: column; justify-content: space-between;">
          <label style="color: #0D146A; margin-bottom: 5px;">Dirección</label>
          <input type="text" class="form-control input-form-company" formControlName="addressCompany"
            placeholder="Calle 50 Carrera 80 # 93">
        </div>
      </form>
      <div style="display: flex; justify-content: center; align-items: center;">
        <label for="">¿Ya tienes una cuenta como empresa?</label>
        <button class="btn button-link" (click)="changeViewLogin()">Iniciar sesión</button>
      </div>
    </div>
    <div class="card card-form-user-company">
      <div style="display: flex; flex-direction: row;justify-content: space-between;">
        <div style="text-align: start; color: #F2E7FE; font-size: 16px;">
          <label>Datos del usuario</label>
        </div>
        <div style="text-align: start; color: red; font-size: 15px;"
          *ngIf="submitted && formUserCompany.controls.emailUserCompany.errors">
          <label>El campo Correo le faltan caracteres</label>
        </div>
      </div>
      <form [formGroup]="formUserCompany"
        style="display: flex; flex-direction: column; justify-content: space-between; margin: 1rem 1rem 0rem; align-items: inherit;">
        <div style="display: flex; justify-content: space-between;">
          <div style="width: 45%;">
            <label style="color: #F2E7FE; margin-bottom: 5px;">Tipo de documento</label>
            <select class="form-control input-form-company icon-arrows" formControlName="typeDocumentUser">
              <option value="" disabled selected>Tipo de documento</option>
              <option *ngFor="let item of document" value="{{item._id}}">{{item.id_type}}</option>
            </select>
          </div>
          <div style="width: 45%;">
            <label style="color: #F2E7FE; margin-bottom: 5px;">N° Documento</label>
            <input type="number" class="form-control input-form-company" formControlName="documentUser"
              placeholder="Número de documento">
          </div>
        </div>
        <div style="display: flex; justify-content: space-between; margin: 1rem 0rem 0rem;">
          <div style="width: 45%;">
            <label *ngIf="!submitted || formUserCompany.controls.nameUserCompany.valid"
              style="color: #F2E7FE; margin-bottom: 5px;">Nombre*</label>
            <label *ngIf="submitted && formUserCompany.controls.nameUserCompany.errors"
              style="color: #f50000; margin-bottom: 5px;">Nombre*</label>
            <input type="text" class="form-control input-form-company" formControlName="nameUserCompany"
              [ngClass]="{'input-invalid' : (submitted && formUserCompany.controls.nameUserCompany.errors)}"
              placeholder="Nombre">
          </div>
          <div style="width: 45%;">
            <label *ngIf="!submitted || formUserCompany.controls.lastNameUserCompany.valid"
              style="color: #F2E7FE; margin-bottom: 5px;">Apellido*</label>
            <label *ngIf="submitted && formUserCompany.controls.lastNameUserCompany.errors"
              style="color: #f50000; margin-bottom: 5px;">Apellido*</label>
            <input type="text" class="form-control input-form-company" formControlName="lastNameUserCompany"
              [ngClass]="{'input-invalid' : (submitted && formUserCompany.controls.lastNameUserCompany.errors)}"
              placeholder="Apellido">
          </div>
        </div>
        <div style="display: flex; flex-direction: row; justify-content: space-between; margin: 1rem 0rem 0rem;">
          <div style="width: 45%;">
            <label style="color: #F2E7FE; margin-bottom: 5px;">Celular</label>
            <input type="number" class="form-control input-form-company" formControlName="phoneUserCompany"
              placeholder="3105789452">
          </div>
          <div style="width: 45%;">
            <label style="color: #F2E7FE; margin-bottom: 5px;">Genero</label>
            <select class="form-control input-form-company icon-arrows" formControlName="sexo">
              <option value="" disabled selected>Genero</option>
              <option *ngFor="let item of generos" value="{{item._id}}">{{item.gender}}</option>
            </select>
          </div>
        </div>
        <div style="display: flex; justify-content: space-between; margin: 1rem 0rem 0rem;">
          <div style="width: 45%;">
            <label *ngIf="!submitted || formUserCompany.controls.emailUserCompany.valid"
              style="color: #F2E7FE; margin-bottom: 5px;">Correo electronico</label>
            <label *ngIf="submitted && formUserCompany.controls.emailUserCompany.errors"
              style="color: #f50000; margin-bottom: 5px;">Correo electronico*</label>
            <input type="email" class="form-control input-form-company" formControlName="emailUserCompany"
              [ngClass]="{'input-invalid' : (submitted && formUserCompany.controls.emailUserCompany.errors)}"
              placeholder="Correo electronico">
          </div>
          <div style="width: 45%;">
            <label style="color: #F2E7FE; margin-bottom: 5px;">Edad</label>
            <input type="number" class="form-control input-form-company" formControlName="age" placeholder="Edad">
          </div>
        </div>
        <div style="justify-content: space-between; margin: 1rem 0rem 0rem; display: flex; flex-direction: column;">
          <label *ngIf="!submitted || formUserCompany.controls.userNameCompany.valid"
            style="color: #F2E7FE; margin-bottom: 5px;">Usuario</label>
          <label *ngIf="submitted && formUserCompany.controls.userNameCompany.errors"
            style="color: #f50000; margin-bottom: 5px;">Usuario*</label>
          <input type="text" class="form-control input-form-company" formControlName="userNameCompany"
            [ngClass]="{'input-invalid' : (submitted && formUserCompany.controls.userNameCompany.errors)}"
            placeholder="Usuario">
        </div>
        <div style="display: flex; justify-content: space-between; margin: 1rem 0rem 0rem;">
          <div style="width: 45%;">
            <label *ngIf="!submitted || formUserCompany.controls.password.valid"
              style="color: #F2E7FE; margin-bottom: 5px;">Contraseña</label>
            <label *ngIf="submitted && formUserCompany.controls.password.errors"
              style="color: #f50000; margin-bottom: 5px;">Contraseña*</label>
            <input [type]="hide ? 'password' : 'text'" class="form-control input-form-company"
              [ngClass]="{'input-invalid' : (submitted && formUserCompany.controls.password.errors)}"
              formControlName="password" placeholder="Contraseña">
          </div>
          <div style="width: 45%;">
            <label *ngIf="!submitted || formUserCompany.controls.confirPassword.valid"
              style="color: #F2E7FE; margin-bottom: 5px;">Confirmar contraseña</label>
            <label *ngIf="submitted && formUserCompany.controls.confirPassword.errors"
              style="color: #f50000; margin-bottom: 5px;">Confirmar contraseña*</label>
            <input [type]="hide ? 'password' : 'text'" class="form-control input-form-company"
              [ngClass]="{'input-invalid' : (submitted && formUserCompany.controls.confirPassword.errors)}"
              formControlName="confirPassword" placeholder="Confirmar contraseña">
          </div>
          <span *ngIf="formUserCompany.value.password.length > 0 && formUserCompany.value.confirPassword.length > 0"
            class="input-group-text"
            style="background-color: transparent; color: white; border: none; align-items: flex-end;">
            <div>
              <i *ngIf="iconsPassword" class="fas fa-eye" style="cursor: pointer; width: 15px; cursor: pointer;"
                (click)="changeIconPassword()"></i>
            </div>
            <div *ngIf="!iconsPassword ">
              <i class="fas fa-eye-slash" style="cursor: pointer; width: 15px; cursor: pointer;"
                (click)="changeIconPassword()"></i>
            </div>
          </span>
        </div>
      </form>
      <div style="display: flex; justify-content: center; margin: 1rem 1rem 1rem 1rem;">
        <button class="btn button-register" (click)="addCompany()">Registrar</button>
      </div>
    </div>
  </div>
</section>