<div style="display: flex; align-items: center; justify-content: center; height: 100%; ">
  <div class="container"
    style="padding: 0 !important; margin-top: 50px; margin-left: 0px; margin-right: 0px; margin-bottom: 63px;">
    <div class="card mb-1" style="height: 494px;">
      <div class="card-header"
        style="background: #14023D; color: #ffffff; display: flex; flex-direction: row; justify-content: space-between; align-items: center; height: 40px;">
        <div
          style="display: flex; flex-direction: row; justify-content: space-between; align-items: center; height: 35px;">
          <i class="fas fa-angle-left" style="font-size: 20px; margin-right: 15px;" [routerLink]="['/report']"
            routerLinkActive="router-link-active"></i>

          <label>
            {{'Detalles de la Novedad'}}
          </label>
        </div>
      </div>

      <div style="border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px; padding: 1rem 2rem 0 2rem;">
        <mat-tab-group>
          <mat-tab label="DATOS BASICOS">
            <div style="display: flex; flex-direction: row;">
              <div class="card-body" style="display: flex; flex-direction: column; width: 100%;">
                <label style="font-size: 14px; color: #23036A; margin-right: 5px;">Información básica</label>
                <div class="dropdown-divider" style="background-color: #23036A; width: 20rem;"></div>
                <div style="display: flex; padding: 1rem 0rem 1rem 1rem; flex-direction: column; width: 20rem;">
                  <div style=" display: flex; flex-direction: row; margin-bottom: 10px;">
                    <label style="font-size: 14px; margin-right: 5px; color: #000; font-weight: 500;">{{'Novedad:
                      '}}</label>
                    <label style="font-size: 12px; margin-left: 5px; color: #000;">{{codeReport ? codeReport
                      :'-'}}</label>
                  </div>
                  <div style=" display: flex; flex-direction: row; margin-bottom: 10px;">
                    <label style="font-size: 14px; margin-right: 5px; color: #000; font-weight: 500;">{{'Categoria:
                      '}}</label>
                    <label style="font-size: 12px; margin-left: 5px; color: #000;">{{category ? category :'-'}}</label>
                  </div>
                  <div style=" display: flex; flex-direction: row; margin-bottom: 10px;">
                    <label style="font-size: 14px; margin-right: 5px; color: #000; font-weight: 500;">{{'Dirección:
                      '}}</label>
                    <div style="width: 15rem; overflow: auto;" class="scroll-style">
                      <label style="font-size: 12px; margin-left: 5px; color: #000;">{{address ? address :'-'}}</label>
                    </div>
                  </div>
                  <div style=" display: flex; flex-direction: row; margin-bottom: 10px;">
                    <label style="font-size: 14px; margin-right: 5px; color: #000; font-weight: 500;">{{'Descripción:
                      '}}</label>
                    <div style="width: 14rem; overflow: auto;" class="scroll-style">
                      <label style="font-size: 12px; margin-left: 5px; color: #000;">{{description ? description
                        :'-'}}</label>
                    </div>
                  </div>
                </div>

                <label style="font-size: 14px; color: #23036A; margin-right: 5px;">Fecha de la novedad</label>
                <div class="dropdown-divider" style="background-color: #23036A; width: 20rem;"></div>
                <div style="display: flex; padding: 1rem 0rem 1rem 1rem; flex-direction: column; width: 20rem;">
                  <div style=" display: flex; flex-direction: row; margin-bottom: 10px;">
                    <label style="font-size: 14px; margin-right: 5px; color: #000; font-weight: 500;">{{'Fecha de
                      creación:
                      '}}</label>
                    <label style="font-size: 12px; margin-left: 5px; color: #000;">{{dateCreation ? dateCreation
                      :'-'}}</label>
                  </div>
                  <div style=" display: flex; flex-direction: row; margin-bottom: 10px;">
                    <label style="font-size: 14px; margin-right: 5px; color: #000; font-weight: 500;">{{'Fecha de
                      finalización:
                      '}}</label>
                    <label style="font-size: 12px; margin-left: 5px; color: #000;">{{dateFinalitation ? dateFinalitation
                      :'-'}}</label>
                  </div>
                </div>
              </div>

              <div class="dropdown-divider" style="background-color: #23036A; width: 1px; height: 307px;"></div>

              <div class="card-body" style="display: flex; flex-direction: column; ">
                <label style="font-size: 14px; color: #23036A; margin-right: 5px;">Datos usuario</label>
                <div class="dropdown-divider" style="background-color: #23036A;"></div>
                <div style="padding: 1rem 0rem 1rem 1rem;">
                  <div style="display: flex; flex-direction: row; margin-bottom: 10px;">
                    <label style="font-size: 14px; color: #000; font-weight: 500; margin-right: 5px;">{{'Nombre:
                      '}}</label>
                    <div style="width: 12rem; overflow: auto;" class="scroll-style">
                      <label style="margin-left: 5px; font-size: 12px; color: #000;">{{nameUser ? nameUser
                        :'-'}}</label>
                    </div>
                  </div>
                  <div style="display: flex; flex-direction: row; margin-bottom: 10px;">
                    <label style="font-size: 14px; color: #000; font-weight: 500; margin-right: 5px;">{{'Correo:
                      '}}</label>
                    <div style="width: 12rem; overflow: auto;" class="scroll-style">
                      <label style="margin-left: 5px; font-size: 12px; color: #000;">{{emailUser ? emailUser
                        :'-'}}</label>
                    </div>
                  </div>
                  <div style="display: flex; flex-direction: row; margin-bottom: 10px;">
                    <label style="font-size: 14px; color: #000; font-weight: 500; margin-right: 5px;">{{'Celular:
                      '}}</label>
                    <div style="width: 12rem; overflow: auto;" class="scroll-style">
                      <label style="margin-left: 5px; font-size: 12px; color: #000;">{{telUser ? telUser
                        :'-'}}</label>
                    </div>
                  </div>
                </div>

                <label style="font-size: 14px; color: #23036A; margin-right: 5px;">Ubicación</label>
                <div class="dropdown-divider" style="margin-top: 13px; background-color: #23036A;"></div>
                <div style="padding: 1rem 0rem 1rem 1rem;">
                  <div style="display: flex; flex-direction: row; margin-bottom: 10px;">
                    <label style="font-size: 14px; color: #000; font-weight: 500; margin-right: 5px;">
                      {{'No disponible'}}
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="ADJUNTOS">
            <div *ngIf="lstInfoReport.length < 1" class="card"
              style="display: flex; flex-direction: column; padding: 2rem; align-items: center; border: none;">
              <label for="" style="font-size: 20px; margin: 10px;">No hay archivos adjuntos</label>
              <i class="fas fa-inbox" style="font-size: 20px; margin: 10px;"></i>
            </div>
            <table *ngIf="lstInfoReport.length > 0" mat-table [dataSource]="dataSource">
              <ng-container matColumnDef="file_path">
                <th mat-header-cell *matHeaderCellDef> Archivo </th>
                <td mat-cell *matCellDef="let data" (click)="expandFile(data.file_path)" style="cursor: pointer;">
                  <div *ngIf="data.file_type == 'image/jpeg'">
                    <i class="fas fa-file-image" style="font-size: 23px; color: #4caf50;"></i>
                  </div>
                  <div *ngIf="data.file_type == 'audio/mp4'">
                    <i class="fas fa-file-audio" style="font-size: 23px; color: #1e88e5;"></i>
                  </div>
                  <div *ngIf="data.file_type == 'video/mp4'">
                    <i class="fas fa-file-video" style="font-size: 23px; color: red;"></i>
                  </div>
                </td>
              </ng-container>
              <ng-container matColumnDef="file_name">
                <th mat-header-cell *matHeaderCellDef>Nombre del Archivo</th>
                <td mat-cell *matCellDef="let data">
                  {{data.file_name.substring(0,40)}} ... </td>
              </ng-container>
              <ng-container matColumnDef="rep_code">
                <th mat-header-cell *matHeaderCellDef>codigo del Reporte</th>
                <td mat-cell *matCellDef="let data"> {{data.rep_code}} </td>
              </ng-container>
              <ng-container matColumnDef="file_type">
                <th mat-header-cell *matHeaderCellDef>Tipo de Archivo</th>
                <td mat-cell *matCellDef="let data"> {{data.file_type}} </td>
              </ng-container>
              <ng-container matColumnDef="file_size">
                <th mat-header-cell *matHeaderCellDef>Tamaño de Archivo</th>
                <td mat-cell *matCellDef="let data"> {{data.file_size / 1000 + 'KB'}} </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumnsAdmin"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumnsAdmin;"></tr>
            </table>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>