img {
  height: 45px;
}
.title {
  font-weight: 400;
  font-size: 18px;
}

.img-fluid {
  max-width: 100%;
}
table {
  width: 100%;
}

th:nth-child(1),
td:nth-child(1) {
  width: 10%;
  text-align: center;
}
th:nth-child(2),
td:nth-child(2) {
  width: 30%;
  text-align: center;
}
th:nth-child(3),
td:nth-child(3) {
  width: 20%;
  text-align: center;
}
th:nth-child(4),
td:nth-child(4) {
  width: 20%;
  text-align: center;
}
th:nth-child(5),
td:nth-child(5) {
  width: 20%;
  text-align: center;
}
.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  padding: 0 0;
  margin-bottom: 1rem;
  list-style: none;
  align-items: center;
}
.btn-link {
  font-weight: 400;
  color: #04398a;
  text-decoration: underline;
}
.btn-link:hover {
  color: #286dd4;
}
.btn-check:focus + .btn,
.btn:focus {
  outline: 0;
  box-shadow: none;
}
