.card[_ngcontent-c1] {
  display: table-cell;
  vertical-align: middle;
}
.content {
  background-color: #e1e2e1;
  height: 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: scroll;
}

.card-contents {
  box-shadow: inset 0 0 100px 100px rgb(255 255 255 / 10%);
  border-radius: 5px;
  background-color: #2b3557;
  padding: 1rem 1rem;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: white;
}
h3 {
  color: white;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.button-login {
  background-color: #23036a;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.modal-contain {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.cards {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: transparent;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  box-shadow: 20px 0px 20px 5px rgb(191 191 191);
  align-items: center;
  cursor: pointer;
}

.modal-content {
  position: relative;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  outline: 0;
}
.card-login {
  display: flex;
  flex-direction: row;
  border: none;
  background-color: transparent;
  width: 80vw;
  height: 90vh;
  margin: 2rem;
  justify-content: center;
}
.card-form-user {
  border-top-left-radius: 45px;
  border-bottom-left-radius: 45px;
  background-color: #fff;
  border: none;
  padding: 2rem;
  width: 565px;
  height: 608px;
}
.card-form-register {
  border-top-right-radius: 45px;
  border-bottom-right-radius: 45px;
  background-color: #23036a;
  border: none;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 565px;
  height: 608px;
}
.card-body-image {
  margin-top: 60px;
}
.input-form-login {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 90%;
}
.input-form-user {
  border-radius: 5px;
  height: 40px;
  border: solid 1px #23036a;
}
.input-form-user::placeholder {
  color: #868d96;
}
.card-body-user {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.card-form-register-users {
  border-top-right-radius: 45px;
  border-bottom-right-radius: 45px;
  background-color: #23036a;
  border: none;
  padding: 2rem;
  display: flex;
  align-items: inherit;
  width: 565px;
  height: 608px;
}
.card-body-register-user {
  display: flex;
  flex-direction: column;
}

.card-button-register {
  width: 123px;
  height: 123px;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: row;
  cursor: pointer;
  overflow: hidden;
  transition: 1s;
}
.card-button-register:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  transition: 1s;
}

.input-password {
  display: flex;
  align-items: center;
  width: 100%;
}

.carousel {
  position: inherit;
}
.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-right: 15%;
  margin-bottom: 1rem;
  margin-left: 15%;
  list-style: circle;
  margin-bottom: 50px;
}

.carousel-indicators [data-bs-target] {
  text-indent: 10px;
  background-color: transparent;
  color: #dbb2ff;
  height: 17px;
  width: 35px;
}
.carousel-caption {
  position: inherit;
  right: 0;
  bottom: 0;
  left: 0;
}
.carousel-item.active {
  flex-direction: column;
  text-align: center;
}
.scroll-style::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 10px;
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
}
.button-icon {
  font-weight: 400;
  color: #ffffff;
  align-self: center;
  display: flex;
  justify-content: center;
  font-size: 30px;
}
.button-icon:hover {
  color: #bbbbbb;
}
img,
svg {
  vertical-align: middle;
  width: 57%;
}
