<section class="content scroll-style" *ngIf="!loginRegister">
  <div class="card card-login">
    <div class="card card-form-user">
      <div style="display: flex; justify-content: space-between;">
        <div style="text-align: start; color: #0D146A; font-size: 25px;">
          <label>Novedapp</label>
        </div>
        <div style="text-align: start; color: red; font-size: 16px;">
          <label *ngIf="submitted && formLogin.invalid">Los campos en rojo son
            obligatorios</label>
        </div>
      </div>
      <div class="card-body card-body-user">
        <div style="text-align: center; color: #0D146A; font-size: 30px;">
          <label>Iniciar sesión</label>
        </div>
        <form [formGroup]="formLogin">
          <div class="mb-3 input-form-login">
            <label *ngIf="!submitted || formLogin.controls.userName.valid"
              style="color: #0D146A; margin-bottom: 5px; font-weight: 500;">Usuario</label>
            <label *ngIf="submitted && formLogin.controls.userName.errors"
              style="color: #f50000; margin-bottom: 5px; font-weight: 500;">Usuario*</label>
            <input type="text" class="form-control input-form-user" formControlName="userName" placeholder="Usuario"
              [ngClass]="{'input-invalid' : (submitted && formLogin.controls.userName.errors)}" aria-label="Username"
              aria-describedby="basic-addon1">
          </div>
          <div class="mb-3 input-form-login">
            <label *ngIf="!submitted || formLogin.controls.password.valid"
              style="color: #0D146A; margin-bottom: 5px; font-weight: 500;">Contraseña</label>
            <label *ngIf="submitted && formLogin.controls.password.errors"
              style="color: #f50000; margin-bottom: 5px; font-weight: 500;">Contraseña*</label>
            <div class="input-password">
              <input [type]="hide ? 'password' : 'text'" class="form-control input-form-user" formControlName="password"
                [ngClass]="{'input-invalid' : (submitted && formLogin.controls.password.errors)}"
                placeholder="Contraseña" aria-label="Password" aria-describedby="basic-addon1">
              <span *ngIf="formLogin.value.password.length > 0" class="input-group-text"
                style="background-color: white; border: none">
                <div>
                  <i *ngIf="iconsPassword" class="fas fa-eye" style="cursor: pointer; width: 15px; cursor: pointer;"
                    (click)="changeIconPassword()"></i>
                </div>
                <div *ngIf="!iconsPassword ">
                  <i class="fas fa-eye-slash" style="cursor: pointer; width: 15px; cursor: pointer;"
                    (click)="changeIconPassword()"></i>
                </div>
              </span>
            </div>
          </div>
          <div class="mb-3 col" style="display: flex; justify-content: flex-end; width: 100%;">
            <!-- <div style="margin-right: 5px; margin-left: 17px;">
              <a type="button" class="btn-sm" style="color: #0D146A; font-weight: 500;">
                ¿Olvidaste tu Contraseña?
              </a>
            </div> -->
            <div style="margin-left: 5px; margin-right: 17px;">
              <a type="button" class="btn-sm" style="color: #0D146A; font-weight: 900;"
                (click)="changeViewRegisterUsers()">
                Registrar
              </a>
            </div>
          </div>
        </form>
        <div style="align-self: center;">
          <button style="height: 37px; width: 126px;" type="button" (click)="login()"
            class="btn btn-primary button-login btn-sm">
            Iniciar sesión
          </button>
        </div>
        <div style="display: flex; align-items: center; justify-content: center;">
          <img src="../../../assets/icons/copyright.svg" style="width: 20px;" alt="">
          <label style="font-size: 18px; color: #23036a; font-weight: 900;">{{dateCopyright}} | Ludycom S.A.S</label>
        </div>
      </div>
    </div>
    <div class="card card-form-register" [ngClass]="{'card-form-register-users': validRegisterUsers}">
      <div *ngIf="code == ''" style="display: contents;">
        <div *ngIf="!validRegisterUsers" class="card-body card-body-image">
          <div id="carouselExampleIndicators" class="carousel slide" data-bs-warp="true" data-bs-ride="carousel"
            data-bs-interval="10000">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="carousel-caption">
                  <img src="../../../assets/images/diseno-de-respuesta.png" alt="no hay imagen">
                  <h1 style="margin: 0; font-size: 20px;">REGISTRAR COMPAÑÍAS</h1>
                  <h3 style="margin: 0; font-size: 15px; text-align: justify; overflow: auto; height: 112px;"
                    class="scroll-style">
                    Esta funcionalidad es muy util para ustedes
                    los emprendedores ya
                    que si necesitan un control o un hístorico de los procesos de su compañía con solo registrarse en
                    NOVEDAPP podra hacerlo.</h3>
                </div>
              </div>
              <div class="carousel-item">
                <div class="carousel-caption">
                  <img src="../../../assets/images/diseno-de-respuesta.png" alt="no hay imagen">
                  <h1 style="margin: 0; font-size: 20px;">GENERAR NOVEDADES</h1>
                  <h3 style="margin: 0; font-size: 15px; text-align: justify; overflow: auto; height: 112px;"
                    class="scroll-style">
                    Esta función a ustedes es de vital importancia para saber toda la actividad de campo de sus
                    colaboradores dicha funcionalidad les permite crear o generar novedades a sus colaboradores, Por mas
                    mínima que
                    sea la novedad de su compañía o sus colaboradores podra adjuntar evidencia como: (FOTOS, VIDEOS,
                    AUDIOS).
                  </h3>
                </div>
              </div>
              <div class="carousel-item">
                <div class="carousel-caption">
                  <img src="../../../assets/images/diseno-de-respuesta.png" alt="no hay imagen">
                  <h1 style="margin: 0; font-size: 18px;">VISUALIZACIÓN DE NOVEDADES</h1>
                  <h3 style="margin: 0; font-size: 15px; text-align: justify; overflow: auto; height: 112px;"
                    class="scroll-style">
                    Esta función a ustedes le permite a su compañía visualizar todas las novedades generada por sus
                    colaboradores, podra también visualizar a detalle cada novedad y reproducir los archivos adjuntos.
                  </h3>
                </div>
              </div>
            </div>
            <ol class="carousel-indicators">
              <i style="font-size: 17px;" class="fas fa-circle active" data-bs-target="#carouselExampleIndicators"
                data-bs-slide-to="0"></i>
              <i style="font-size: 17px;" class="fas fa-circle" data-bs-target="#carouselExampleIndicators"
                data-bs-slide-to="1"></i>
              <i style="font-size: 17px;" class="fas fa-circle" data-bs-target="#carouselExampleIndicators"
                data-bs-slide-to="2"></i>
            </ol>
          </div>
        </div>
        <div *ngIf="validRegisterUsers" class="card-body">
          <div style="display: flex; flex-direction: column; justify-content: space-between; height: 100%;">
            <div class=" card-body-register-user">
              <div style="display: flex; flex-direction: column;">
                <div
                  style="text-align: start; color: #ffffff; font-size: 15px; display: flex; flex-direction: column; margin-top: 35px; margin-bottom: 28px;">
                  <label>¡Hola!</label>
                  <label>Regístrese para comenzar.</label>
                </div>
                <div style="text-align: start; color: #ffffff; font-size: 15px; margin-bottom: 56px; width: 150px;">
                  <label>¿Qué tipo de cuenta crearás?</label>
                </div>
              </div>
              <div style="display: flex; flex-direction: row; justify-content: space-around;">
                <div class="card card-button-register" (click)="changeViewRegister(1)">
                  <div class="card-body">
                    <img src="../../../assets/icons/empresa.svg">
                    <label style="color: #0D146A; font-weight: 500;">Empresa</label>
                  </div>
                </div>
                <div class="card card-button-register" (click)="changeViewRegister(2)">
                  <div class="card-body">
                    <img src="../../../assets/icons/empleados.svg">
                    <label style="color: #0D146A; font-weight: 500;">Empleado</label>
                  </div>
                </div>
              </div>
            </div>
            <i class="far fa-times-circle button-icon" (click)="changeViewRegisterUsers()"></i>
          </div>
        </div>
      </div>
      <div style="display: flex; flex-direction: column; align-items: center;" *ngIf="code != ''">
        <div
          style="text-align: start; color: #ffffff; font-size: 15px; display: flex; flex-direction: column; margin-top: 35px; margin-bottom: 28px;">
          <label>Compartir este código para registrar empleados!</label>
        </div>
        <img src="../../../assets/icons/arrowDownWhite.svg" style="width: 30px;">
        <div
          style="text-align: start; color: #ffffff; font-size: 15px; display: flex; flex-direction: column; margin-top: 35px; margin-bottom: 28px;">
          <button matTooltip="Copiar codigo" matTooltipHideDelay="1000" class="btn btn-outline-info"
            (click)="copyCodeCompany()">
            {{code}}
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<div *ngIf="loginRegister" style="width: 100%; height: 100%;">
  <app-register-company *ngIf="registerId == 1" [registerIds]="registerId" (changesViewLogin)="changesViewLogin($event)"
    (codeRegisterEmploye)="codeRegisterEmploye($event)">
  </app-register-company>
  <app-register-employes *ngIf="registerId==2" [registerIds]="registerId" [codeEmpresa]="code"
    (changesViewLogin)="changesViewLogin($event)" (changeViewRegister)="changeViewRegister($event)">
  </app-register-employes>
</div>