<section class="content scroll-style" style="display: flex; flex-wrap: wrap; align-content: center;">
  <div class="card card-register">
    <div class="card card-form-user">
      <div style="display: flex; flex-direction: column;justify-content: space-between; height: 25%;">
        <div style="display: flex; flex-direction: row;justify-content: space-between;">
          <div style="text-align: start; color: #0D146A; font-size: 25px;">
            <label>Novedapp</label>
          </div>
          <div *ngIf="submitted && formEmploye.invalid" style="text-align: start; color: red; font-size: 15px;">
            <label>Los campos en rojo son
              obligatorios</label>
          </div>
        </div>
        <div style="text-align: start; color: #0D146A; display: flex; flex-direction: column;">
          <label style="font-size: 15px;">¡Hola!</label>
          <label style="font-size: 15px;">Registrese para comenzar.</label>
        </div>
        <div style="text-align: start; color: #0D146A; font-size: 15px; font-weight: 500;">
          <label>Digita el código de tu empresa!</label>
        </div>
      </div>
      <form [formGroup]="formCodeCompany"
        style="display: flex; flex-direction: column; justify-content: space-between; margin: 5rem 5rem; align-items: inherit;">
        <div>
          <label *ngIf="!submitted || formCodeCompany.controls.codeCompany.valid"
            style="color: #0D146A; margin-bottom: 5px;">Código de la compañia</label>
          <label *ngIf="submitted && formCodeCompany.controls.codeCompany.errors"
            style="color: #f50000; margin-bottom: 5px;">Código de la compañia*</label>
          <input type="text" class="form-control input-form-company" formControlName="codeCompany"
            [ngClass]="{'input-invalid' : (submitted && formCodeCompany.controls.codeCompany.errors)}"
            placeholder="Código de la compañia">
        </div>
      </form>
      <div style="display: flex; justify-content: center; align-items: center; padding-top: 9rem;">
        <label for="">¿Ya tienes una cuenta como empleado?</label>
        <button class="btn button-link" (click)="changeViewLogin()">Iniciar sesión</button>
      </div>
    </div>
    <div class="card card-form-user-company">
      <div style="display: flex; flex-direction: row;justify-content: space-between;">
        <div style="text-align: start; color: #F2E7FE; font-size: 16px;">
          <label>Datos del usuario</label>
        </div>
        <div style="text-align: start; color: red; font-size: 15px;"
          *ngIf="submitted && formEmploye.controls.emailUser.invalid">
          <label>El campo Correo le faltan caracteres</label>
        </div>
      </div>
      <form [formGroup]="formEmploye"
        style="display: flex; flex-direction: column; justify-content: space-between; margin: 1rem 1rem 0rem; align-items: inherit;">
        <div style="display: flex; justify-content: space-between;">
          <div style="width: 46%;">
            <label *ngIf="!submitted || formEmploye.controls.typeDocumentUser.valid"
              style="color: #F2E7FE; margin-bottom: 5px;">Tipo de documento</label>
            <label *ngIf="submitted && formEmploye.controls.typeDocumentUser.errors"
              style="color: #f50000; margin-bottom: 5px;">Tipo de documento*</label>
            <select class="form-control input-form-company icon-arrows"
              [ngClass]="{'select-invalid' : (submitted && formEmploye.controls.typeDocumentUser.errors)}"
              formControlName="typeDocumentUser">
              <option value="" disabled selected>Tipo de documento</option>
              <option *ngFor="let item of document" value="{{item._id}}">{{item.id_type}}</option>
            </select>
          </div>
          <div>
            <label *ngIf="!submitted || formEmploye.controls.documentUser.valid"
              style="color: #F2E7FE; margin-bottom: 5px;">N° Documento</label>
            <label *ngIf="submitted && formEmploye.controls.documentUser.errors"
              style="color: #f50000; margin-bottom: 5px;">N° Documento*</label>
            <input type="number" class="form-control input-form-company" formControlName="documentUser"
              [ngClass]="{'input-invalid' : (submitted && formEmploye.controls.documentUser.errors)}"
              placeholder="Número de documento">
          </div>
        </div>
        <div style="display: flex; justify-content: space-between; margin: 1rem 0rem 0rem;">
          <div>
            <label *ngIf="!submitted || formEmploye.controls.nameUser.valid"
              style="color: #F2E7FE; margin-bottom: 5px;">Nombre</label>
            <label *ngIf="submitted && formEmploye.controls.nameUser.errors"
              style="color: #f50000; margin-bottom: 5px;">Nombre*</label>
            <input type="text" class="form-control input-form-company" formControlName="nameUser"
              [ngClass]="{'input-invalid' : (submitted && formEmploye.controls.nameUser.errors)}" placeholder="Nombre">
          </div>
          <div>
            <label *ngIf="!submitted || formEmploye.controls.lastNameUser.valid"
              style="color: #F2E7FE; margin-bottom: 5px;">Apellido</label>
            <label *ngIf="submitted && formEmploye.controls.lastNameUser.errors"
              style="color: #f50000; margin-bottom: 5px;">Apellido*</label>
            <input type="text" class="form-control input-form-company" formControlName="lastNameUser"
              [ngClass]="{'input-invalid' : (submitted && formEmploye.controls.lastNameUser.errors)}"
              placeholder="Apellido">
          </div>
        </div>
        <div style="display: flex; flex-direction: row; justify-content: space-between; margin: 1rem 0rem 0rem;">
          <div>
            <label style="color: #F2E7FE; margin-bottom: 5px;">Celular</label>
            <input type="text" class="form-control input-form-company" formControlName="phoneUser"
              placeholder="3105789452">
          </div>
          <div style="width: 46%;">
            <label *ngIf="!submitted || formEmploye.controls.sexo.valid"
              style="color: #F2E7FE; margin-bottom: 5px;">Genero</label>
            <label *ngIf="submitted && formEmploye.controls.sexo.errors"
              style="color: #f50000; margin-bottom: 5px;">Genero*</label>
            <select class="form-control input-form-company icon-arrows"
              [ngClass]="{'select-invalid' : (submitted && formEmploye.controls.sexo.errors)}" formControlName="sexo">
              <option value="" disabled selected>Genero</option>
              <option *ngFor="let item of generos" value="{{item._id}}">{{item.gender}}</option>
            </select>
          </div>
        </div>
        <div style="display: flex; justify-content: space-between; margin: 1rem 0rem 0rem;">
          <div>
            <label *ngIf="!submitted || formEmploye.controls.emailUser.valid"
              style="color: #F2E7FE; margin-bottom: 5px;">Correo electronico</label>
            <label *ngIf="submitted && formEmploye.controls.emailUser.errors"
              style="color: #f50000; margin-bottom: 5px;">Correo electronico*</label>
            <input type="email" class="form-control input-form-company" formControlName="emailUser"
              [ngClass]="{'input-invalid' : (submitted && formEmploye.controls.emailUser.errors)}"
              placeholder="Correo electronico">
          </div>
          <div>
            <label *ngIf="!submitted || formEmploye.controls.edad.valid"
              style="color: #F2E7FE; margin-bottom: 5px;">Edad</label>
            <label *ngIf="submitted && formEmploye.controls.edad.errors"
              style="color: #f50000; margin-bottom: 5px;">Edad*</label>
            <input type="number" class="form-control input-form-company" formControlName="edad"
              [ngClass]="{'input-invalid' : (submitted && formEmploye.controls.edad.errors)}" placeholder="Edad">
          </div>
        </div>
        <div style="justify-content: space-between; margin: 1rem 0rem 0rem; display: flex; flex-direction: column;">
          <label *ngIf="!submitted || formEmploye.controls.userName.valid"
            style="color: #F2E7FE; margin-bottom: 5px;">Usuario</label>
          <label *ngIf="submitted && formEmploye.controls.userName.errors"
            style="color: #f50000; margin-bottom: 5px;">Usuario*</label>
          <input type="text" class="form-control input-form-company" formControlName="userName"
            [ngClass]="{'input-invalid' : (submitted && formEmploye.controls.userName.errors)}" placeholder="Usuario">
        </div>
        <div style="display: flex; justify-content: space-between; margin: 1rem 0rem 0rem;">
          <div>
            <label *ngIf="!submitted || formEmploye.controls.password.valid"
              style="color: #F2E7FE; margin-bottom: 5px;">Contraseña</label>
            <label *ngIf="submitted && formEmploye.controls.password.errors"
              style="color: #f50000; margin-bottom: 5px;">Contraseña*</label>
            <input [type]="hide ? 'password' : 'text'" class="form-control input-form-company"
              [ngClass]="{'input-invalid' : (submitted && formEmploye.controls.password.errors)}"
              formControlName="password" placeholder="Contraseña">
          </div>
          <div>
            <label *ngIf="!submitted || formEmploye.controls.confirPassword.valid"
              style="color: #F2E7FE; margin-bottom: 5px;">Confirmar contraseña</label>
            <label *ngIf="submitted && formEmploye.controls.confirPassword.errors"
              style="color: #f50000; margin-bottom: 5px;">Confirmar contraseña*</label>
            <input [type]="hide ? 'password' : 'text'" class="form-control input-form-company"
              [ngClass]="{'input-invalid' : (submitted && formEmploye.controls.confirPassword.errors)}"
              formControlName="confirPassword" placeholder="Confirmar contraseña">
          </div>
          <span *ngIf="formEmploye.value.password.length > 0 && formEmploye.value.confirPassword.length > 0"
            class="input-group-text"
            style="background-color: transparent; color: white; border: none; align-items: flex-end;">
            <div>
              <i *ngIf="iconsPassword" class="fas fa-eye" style="cursor: pointer; width: 15px; cursor: pointer;"
                (click)="changeIconPassword()"></i>
            </div>
            <div *ngIf="!iconsPassword ">
              <i class="fas fa-eye-slash" style="cursor: pointer; width: 15px; cursor: pointer;"
                (click)="changeIconPassword()"></i>
            </div>
          </span>
        </div>
      </form>
      <div style="display: flex; justify-content: center; margin: 1rem 1rem 1rem 1rem;">
        <button class="btn button-register" (click)="addEmploye()">Registrar</button>
      </div>
    </div>
  </div>
</section>