<div *ngIf="!loginState">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid"
      style="display: flex;justify-content: space-between;flex-direction: row; height: 56px; padding-left: 5px;">
      <div style="display: flex;">
        <div class="example-sidenav-content">
          <button class="btn btn-primary active button-menu-style menubar-toggle" (click)="showFiller = !showFiller"
            style="margin: 11px;">
            <i class="fas fa-bars"></i>
          </button>
          <label class="navbar-brand title-nav" [routerLink]="['/home']">{{'novedapp' | titlecase}}</label>
        </div>
      </div>
      <div>
        <div class="card" style="background-color: transparent; border: none;">
          <div style="display: contents; border-color: white;">
            <div class="avatar-content">
              <div id="dropdownMenuButton1" data-bs-toggle="dropdown"
                style="display: flex; align-items: center; cursor: pointer; justify-content: space-evenly; width: 190px;">
                <div class="profile-image-header ng-scope" matTooltip="{{rol}}" matTooltipHideDelay="1000">
                  <span style="display: flex; align-items: center; justify-content: center;">{{nameAvatar | uppercase
                    }}</span>
                </div>
                <div>
                  <h4 style="color: white;  margin: 0; font-size: 15px;">{{nameUser | titlecase}} {{lastNameUser |
                    titlecase}}</h4>
                  <p style="color: white;  margin: 0; font-size: 12px;">{{'Usuario: '}} {{ name}}</p>
                </div>
              </div>
              <ul aria-labelledby="dropdownMenuButton1" class="dropdown-menu" style="height: 100%;">
                <li>
                  <button class=" btn btn-primary" (click)="logout()" style="
                    margin-right: 0px; 
                    color: black; 
                    background-color: transparent; 
                    border: none; 
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: center; 
                    align-items: center;
                    padding: 0;">
                    <i class="fas fa-power-off"
                      style="color: red; width: 17px; margin: 5px; height: 17px; font-size: 17px;"></i>
                    <P style="color: black; margin: 5px;">Salir</P>
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>

<div *ngIf="!loginState" class="example-container" autosize>
  <div #drawer mode="side" [ngClass]="{'example-sidenav': !showFiller, 'example-sidenav-expand': showFiller}">
    <div class="side-bar-content">
      <div class="gui-icon">
        <div style="margin: 10px;" [routerLink]="['/home']">
          <button class="btn btn-primary active button-menu-style">
            <i class="fas fa-home" style="margin-right: 2px;"></i>
            <h6 class="side-bar-expand" *ngIf="showFiller">Inicio</h6>
          </button>
        </div>
        <div style="margin: 10px;" [routerLink]="['/report']">
          <button class="btn btn-primary active button-menu-style">
            <i class="fas fa-clipboard-list"></i>
            <h6 class="side-bar-expand" *ngIf="showFiller">Novedades</h6>
          </button>
        </div>
        <div *ngIf="rol != 'user'" style="margin: 10px;" [routerLink]="['/user']">
          <button class="btn btn-primary active button-menu-style">
            <i class="fas fa-user"></i>
            <h6 class="side-bar-expand" *ngIf="showFiller">Usuarios
            </h6>
          </button>
        </div>
        <div style="margin: 10px;" [routerLink]="['/maps']">
          <button class="btn btn-primary active button-menu-style">
            <i class="fas fa-map"></i>
            <h6 class="side-bar-expand" *ngIf="showFiller">Mapa</h6>
          </button>
        </div>
        <!-- <div style="margin: 10px;" [routerLink]="['/dashboard']">
          <a>
            <i class="far fa-chart-bar"></i>
            <h6 class="side-bar-expand" *ngIf="showFiller">Indicadores</h6>
          </a>
        </div> -->
      </div>
      <!-- <div style="margin: 10px; margin-bottom: 70px;">
        <a (click)="soportClient()">
          <i class="fas fa-headset"></i>
          <h6 class="side-bar-expand" *ngIf="showFiller">Soporte</h6>
        </a>
      </div> -->
    </div>
  </div>
  <div [ngClass]="{'menu-icons': !showFiller, 'menu-expand': showFiller}" class="scroll-style">
    <router-outlet></router-outlet>
  </div>
</div>
<div *ngIf="loginState" style="width: 100%; height: 100%;">
  <app-login (statusLogin)="login($event)"></app-login>
</div>