.example-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
}

.example-sidenav-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 8px;
  background: #14023d;
}
.example-sidenav-expand {
  padding: 8px;
  background: #14023d;
}

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0;
}

.navbar > .container-fluid {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
  background: #14023d;
  height: 65px;
}

.title-nav {
  color: white;
  cursor: pointer;
}
.title-nav:focus {
  color: white;
}

.btn-icon-toggle {
  border-radius: 999px;
}
i {
  color: #fff;
  width: 18px;
  height: 18px;
  font-size: 18px;
}
a {
  cursor: pointer;
  display: flex;
  align-items: center;
}

h6 {
  margin: 8px;
}

.gui-icon {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  -webkit-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear;
}
.side-bar-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  height: 100%;
  justify-content: space-between;
}

.side-bar-expand {
  display: flex;
  flex-direction: column;
  font-size: 15px;
}

.example-card {
  background-color: transparent;
  padding: 0;
  box-shadow: none;
}
.avatar-content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.profile-image-header {
  width: 38px;
  height: 38px;
  background-color: rgb(245, 245, 245);
  text-align: center;
  line-height: 38px;
  margin: 8px;
  font-size: 20px;
  color: #14023d;
  border-radius: 50%;
  flex-shrink: 0;
  object-fit: cover;
}

.menu-expand {
  width: 100%;
  height: 92vh;
  background-color: #e1e2e1;
  overflow: auto;
}

.menu-icons {
  width: 100%;
  height: 92%;
  background-color: #e1e2e1;
  overflow: auto;
}

@media (min-height: 700px) {
  .menu-expand {
    width: 100%;
    height: 94.6%;
  }

  .menu-icons {
    width: 100%;
    height: 94.6%;
  }
}
@media (min-height: 1000px) {
  .menu-expand {
    width: 100%;
    height: 95%;
  }

  .menu-icons {
    width: 100%;
    height: 95%;
  }
}

.button-menu-style {
  display: flex;
  align-items: center;
  background: transparent;
  border: none;
  box-shadow: none !important;
}
