img {
  width: 100%;
}
#card {
  background: #fff;
  max-width: 650px;
  margin: 35px auto;
  padding: 0px;
  text-align: center;
}

h2 {
  font-size: 18px;
  margin-bottom: 0;
  color: rgb(192, 192, 192);
}
h1 {
  font-size: 22px;
  margin-top: 0;
  color: #333;
}

.footer {
  position: absolute;
  bottom: 16px;
  left: 0;
  right: 0;
  font-size: 14px;
  text-align: center;
}
.content-graph-admin {
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem 5rem 2rem;
}
.fa,
.fas {
  font-family: "Font Awesome 5 Pro";
  color: #008ffb;
  font-weight: 90 !important;
}
.fa,
.far {
  font-family: "Font Awesome 5 Pro";
  color: #008ffb;
  font-weight: 500 !important;
}
i {
  font-size: 20px;
}
.animation:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
  transition: all 0.55s ease-in-out;
}
.card-body {
  flex: 1 1 auto;
  padding: 1rem 1rem 0rem 1rem;
}
