<div class=" content-graph-admin">
  <div style="display: flex; flex-direction: row; justify-content: space-between; margin-bottom: 2rem;">
    <div style="display: flex; flex-direction: column; height: 90%;">
      <app-graph-progress></app-graph-progress>
    </div>
    <div style="display: flex; flex-direction: column; height: 100%;">
      <div>
        <div *ngIf="!statusGrafic" style="margin-top: 11rem;">
          <div class="text-center" *ngIf="validationStatus">
            <div class="container form-controls">
              <h1 class="form-controls" style="text-align: center;">{{componentValidator1}}</h1>
              <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            </div>
          </div>
          <div class="text-center" *ngIf="validationError">
            <div class="container form-controls">
              <h1 class="form-controls" style="text-align: center;">{{componentValidatorError}}</h1>
            </div>
          </div>
          <div class="text-center" *ngIf="!validationStatus">
            <div class="container form-controls">
              <h1 class="form-controls" style="text-align: center;">{{componentValidator}}</h1>
              <div [hidden]="buttomValidation"
                style="display: flex; flex-direction: row; justify-content: center; align-items: center;">
                <button type="button" (click)="openDialog()" class="btn btn-link">Registe
                  novedades aqui
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card card-chart" *ngIf="statusGrafic">
        <div class="card-body" id="chart">
          <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [dataLabels]="chartOptions.dataLabels"
            [plotOptions]="chartOptions.plotOptions" [yaxis]="chartOptions.yaxis" [legend]="chartOptions.legend"
            [fill]="chartOptions.fill" [stroke]="chartOptions.stroke" [tooltip]="chartOptions.tooltip"
            [xaxis]="chartOptions.xaxis"></apx-chart>
        </div>
        <div class="card-footer">
          <div style="display: flex; flex-direction: row; justify-content: space-between;">
            <i class="fas fa-info-circle" matTooltip="{{infoText}}" matTooltipHideDelay="800"></i>
            <label style="display: flex; justify-content: flex-end;">{{'Total de Novedades del
              dia: '}}{{result}}</label>
            <i [hidden]="!hiddenReload" class="fas fa-redo-alt animation" matTooltip="recargar grafica"
              matTooltipHideDelay="800" (click)="reloadGrafic()"></i>
          </div>
        </div>
      </div>
    </div>
    <div style="display: flex; flex-direction: column; height: 100%;">
      <app-graph-bar></app-graph-bar>
    </div>
  </div>
  <div>
    <div style="display: flex; flex-direction: column; height: 100%;">
      <app-graph-linear></app-graph-linear>
    </div>
  </div>
</div>