<div [hidden]="statusGrafic">
</div>
<div class="card card-chart" [hidden]="!statusGrafic">
  <div id="chart" class="card-body">
    <apx-chart [series]="chartOptionsRadial.series" [chart]="chartOptionsRadial.chart"
      [yaxis]="chartOptionsRadial.yaxis" [legend]="chartOptionsRadial.legend"
      [dataLabels]="chartOptionsRadial.dataLabels" [colors]="chartOptionsRadial.colors"
      [plotOptions]="chartOptionsRadial.plotOptions"></apx-chart>
  </div>
  <div class="card-footer">
    <div style="display: flex; flex-direction: row; justify-content: space-between;">
      <i class="fas fa-info-circle" matTooltip="{{infoText}}" matTooltipHideDelay="800"></i>
      <i class="fas fa-redo-alt animation" matTooltip="recargar grafica" matTooltipHideDelay="800"
        (click)="getDataGrafic()"></i>
    </div>
  </div>
</div>