.mat-stepper-vertical {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}

.input-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
}

#map {
  height: 68vh;
  width: 46.5vw;
  margin-bottom: 10px;
}

.form-control {
  display: block;
  width: 20vw;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.input-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
}

.mat-stepper-horizontal {
  display: block;
  width: 50vw;
}
audio {
  height: 54px;
}
.card-body {
  flex: 1 1 auto;
  padding: 1rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: none;
}
img {
  height: 250px;
}
.btn-next {
  color: #fff;
  background-color: #3f51b5;
  border-color: #3f51b5;
}
.icon-header {
  font-weight: 500 !important;
  font-size: 24px;
  margin-top: 2px;
}
