<div style="display: flex; flex-direction: row;">
  <div>
    <mat-stepper orientation="horizontal" [linear]="true" #stepper>
      <mat-step [stepControl]="infoDescrition">
        <ng-template matStepLabel><i class="fas fa-clipboard-list icon-header" matStepperNext matTooltip="Informacion"
            matTooltipHideDelay="500"></i></ng-template>
        <form [formGroup]="infoDescrition">
          <div class="input-form">
            <div style="margin-bottom: 5px; margin-top: 5px;">
              <label class="titel">Descripción de novedad</label>
              <input class="form-control" (keyup)="count($event)" placeholder="Descripción"
                formControlName="description" required>
              <span style="display: flex; justify-content: flex-end;">{{contador + '/' + '250'}}</span>
            </div>
            <div style="margin-top: 5px;margin-bottom: 8px;">
              <label class="titel">Categoria de novedad</label>
              <select class="form-control icon-filter" formControlName="category" required>
                <option value="" disabled selected>Elija un Tipo de Reporte</option>
                <option *ngFor="let item of itemsCategory" value="{{item.cat_id}}">
                  {{item.cat_name}}
                </option>
              </select>
            </div>
          </div>
          <div *ngIf="!infoDescrition.invalid" style="display: flex; justify-content: flex-end;">
            <button class="btn btn-next" matStepperNext matTooltip="Siguiente" matTooltipHideDelay="500">
              <i class="fas fa-arrow-right"></i>
            </button>
          </div>
        </form>
      </mat-step>

      <!-- <mat-step>
        <ng-template matStepLabel><i class="fas fa-paperclip icon-header" matStepperNext matTooltip="Archivos"
            matTooltipHideDelay="500"></i></ng-template>
        <form [formGroup]="infoFiles"
          style="display: flex;flex-direction: column;flex-wrap: wrap;    margin-bottom: 1rem; ">
          <div class="expand-scroll scroll-style">
            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#expandFotos"
              aria-expanded="false" aria-controls="expandFotos">
              Agregar Fotos
            </button>
            <div class="collapse" id="expandFotos">
              <div class="mb-3 mt-3">
                <div class="card">
                  <div class="card-body">
                    <div style="display: flex; flex-direction: column; align-items: center;">
                      <input class="d-none" formControlName="photosReport1" type="file" id="formFileMultiple"
                        (change)="onPhotoSelected1($event)" #phothoInput1>
                      <input class="d-none" formControlName="photosReport2" type="file" id="formFileMultiple"
                        (change)="onPhotoSelected2($event)" #phothoInput2>
                      <input class="d-none" formControlName="photosReport3" type="file" id="formFileMultiple"
                        (change)="onPhotoSelected3($event)" #phothoInput3>
                      <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel"
                        style="display: flex; flex-direction: row;">
                        <div class="carousel-inner">
                          <div class="carousel-item active" data-bs-interval="10000">
                            <img [src]="photoSelected1 || '../../../assets/images/noImage.png'" class="img-fluid"
                              alt="no hay imagen" (click)="phothoInput1.click()">
                          </div>
                        </div>
                        <div class="carousel-inner">
                          <div class="carousel-item active" data-bs-interval="10000">
                            <img [src]="photoSelected2 || '../../../assets/images/noImage.png'" class="img-fluid"
                              alt="no hay imagen" (click)="phothoInput2.click()">
                          </div>
                        </div>
                        <div class="carousel-inner">
                          <div class="carousel-item active" data-bs-interval="10000">
                            <img [src]="photoSelected3 || '../../../assets/images/noImage.png'" class="img-fluid"
                              alt="no hay imagen" (click)="phothoInput3.click()">
                          </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
                          data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
                          data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#expandVideo"
              aria-expanded="false" aria-controls="expandVideo">
              Agregar Video
            </button>
            <div class="collapse" id="expandVideo">
              <div class="mb-3 mt-3">
                <div style="display: flex; flex-direction: column;">
                  <input class="d-none" formControlName="videoReport" type="file" id="formFileMultiple" multiple
                    (change)="onVideoSelected($event)" #videoInput>
                  <span class="mat-date-range-input-inner">
                    Maximo 30 segundos por reporte</span>
                  <video class="img-fluid" alt="no hay video" (click)="videoInput.click()" controls>
                    <source [src]="videoSelected || '../../../assets/images/noVideo.png'">
                  </video>
                </div>
              </div>
            </div>
            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#expandAudioForm"
              aria-expanded="false" aria-controls="expandAudioForm">
              Agregar Audio
            </button>
            <div class="collapse" id="expandAudioForm">
              <div class="mb-3 mt-3"
                style=" display: flex; flex-direction: row; justify-content: space-between; align-items: center;">
                <div class="mb-3">
                  <label for="formFile" class="form-label">seleccionar aduio</label>
                  <input formControlName="audioReport" placeholder="seleccionar audio" title="seleccionar audio"
                    class="form-control" type="file">
                  <span class="mat-date-range-input-inner" style="cursor: pointer;">Maximo 30 segundos el audio </span>
                </div>
                <audio style="width: 40%;" controls>
                  <source src="../../../assets/aud/prueba.mp3">
                </audio>
              </div>
            </div>
          </div>
        </form>
        <div style="display: flex; justify-content: space-between;">
          <div>
            <button class="btn btn-next" matStepperNext matTooltip="Atras" matTooltipHideDelay="500" matStepperPrevious>
              <i class="fas fa-arrow-left"></i>
            </button>
          </div>
          <div>
            <button class="btn btn-next" matStepperNext matTooltip="Siguiente" matTooltipHideDelay="500">
              <i class="fas fa-arrow-right"></i>
            </button>
          </div>
        </div>
      </mat-step> -->


      <mat-step [stepControl]="address" errorMessage="Name is required.">
        <ng-template matStepLabel><i class="fas fa-map-marked-alt icon-header" matStepperNext matTooltip="Mapa"
            matTooltipHideDelay="500"></i></ng-template>
        <div id="map">
        </div>
        <input class="d-none" [formControl]="address" type="text" required>
        <div style="display: flex; justify-content: space-between;">
          <div>
            <button class="btn btn-next" matTooltip="Atras" matTooltipHideDelay="500" matStepperPrevious>
              <i class="fas fa-arrow-left"></i>
            </button>
          </div>
          <label>{{addAddress? addressValue: 'Porfavor seleccione una direccion dentro del mapa'}}</label>
          <div *ngIf="addAddress">
            <button (click)="getResumen()" class="btn btn-next" matStepperNext matTooltip="Siguiente"
              matTooltipHideDelay="500">
              <i class="fas fa-arrow-right"></i>
            </button>
          </div>
        </div>
      </mat-step>

      <mat-step errorMessage="Name is required.">
        <ng-template matStepLabel><i class="fas fa-clipboard-check icon-header" matStepperNext matTooltip="Resumen"
            matTooltipHideDelay="500"></i></ng-template>
        <div style="display: flex; justify-content: space-between; flex-direction: column;">
          <form [formGroup]="infoResumen" class="expand-scroll scroll-style mb-1" style=" width: 100%;">
            <div
              style=" margin-right: 7px; margin-left: 4px; display: flex; justify-content: space-between;flex-direction: column;">
              <div class="input-form mt-2 mb-1">
                <div style="width: 65%;">
                  <label class="titel">Dirección de la novedad</label>
                  <input style="width: 28vw;" class="form-control" placeholder="Dirección"
                    formControlName="directionRes">
                </div>
                <div style="width: 35%;">
                  <label class="titel">Categoria de la novedad</label>
                  <input style="width: 15.6vw;" class="form-control" placeholder="Categoria"
                    formControlName="categoryRes">
                </div>
              </div>
              <div class="mt-2 mb-1">
                <label class="titel">Descripción de la novedad</label>
                <textarea class="form-control" style="width: 100%;" placeholder="Descripción"
                  formControlName="descriptionRes"></textarea>
              </div>
              <!-- <button *ngIf="photoSelected1 || photoSelected2 || photoSelected3" class="btn btn-primary mt-2 mb-1"
                type="button" data-bs-toggle="collapse" data-bs-target="#resFotos" aria-expanded="false"
                aria-controls="resFotos">
                Ver Fotos
              </button>
              <div class="collapse" id="resFotos">
                <label for="" *ngIf="!photoSelected1 && !photoSelected2 && !photoSelected3">No hay Fotos</label>
                <div id="carouselExampleControlsNoTouching" class="carousel slide mb-3 mt-3" data-bs-touch="false"
                  data-bs-interval="true">
                  <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="5000">
                      <img [src]="photoSelected1 || '../../../assets/images/noImage.png'" class="d-block w-100"
                        alt="...">
                    </div>
                    <div class="carousel-item" data-bs-interval="5000">
                      <img [src]="photoSelected2 || '../../../assets/images/noImage.png'" class="d-block w-100"
                        alt="...">
                    </div>
                    <div class="carousel-item" data-bs-interval="5000">
                      <img [src]="photoSelected3 || '../../../assets/images/noImage.png'" class="d-block w-100"
                        alt="...">
                    </div>
                  </div>
                  <button class="carousel-control-prev" type="button"
                    data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button"
                    data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>
              </div>
              <button *ngIf="videoSelected" class="btn btn-primary mt-2 mb-1" type="button" data-bs-toggle="collapse"
                data-bs-target="#resVideo" aria-expanded="false" aria-controls="resVideo">
                Ver Video
              </button>
              <div class="collapse" id="resVideo">
                <div class="mb-3 mt-3">
                  <div style="display: flex; flex-direction: column;">
                    <video class="img-fluid" alt="no hay video" (click)="videoInput.click()" controls>
                      <source [src]="videoSelected || '../../../assets/images/noVideo.png'">
                    </video>
                  </div>
                </div>
              </div>
              <button *ngIf="audioSelected" class="btn btn-primary mt-2 mb-1" type="button" data-bs-toggle="collapse"
                data-bs-target="#resAudio" aria-expanded="false" aria-controls="resAudio">
                Escuchar Audio
              </button>
              <div class="collapse" id="resAudio">
                <div class="mt-3" style=" display: flex; flex-direction: row; justify-content: center;">
                  <audio controls>
                    <source src="../../../assets/aud/prueba.mp3">
                  </audio>
                </div>
              </div> -->
            </div>
          </form>
          <div class="mt-1" style="display: flex; flex-direction: row; justify-content: space-between;">
            <div>
              <button matTooltip="Atras" matTooltipHideDelay="500" class="btn btn-next" matStepperPrevious>
                <i class="fas fa-arrow-left"></i>
              </button>
            </div>
            <div *ngIf="addAddress">
              <button matStepperNext matTooltip="Guardar" matTooltipHideDelay="500" class="btn btn-success"
                style="background-color: #1cb870; border-color: #1cb870;" (click)="insertReport()">
                <i class="fas fa-check"></i>
              </button>
            </div>
          </div>
        </div>
      </mat-step>
    </mat-stepper>
  </div>
</div>