/* You can add global styles to this file, and also import other style files */
@import "~ngx-toastr/toastr";
html,
body {
  height: 100%;
  overflow: hidden;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.scroll-style::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}

.scroll-style::-webkit-scrollbar-thumb {
  background: #939393;
  border-radius: 10px;
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
}

.scroll-style::-webkit-scrollbar-track {
  background: var(--ion-color-step-950);
  border-radius: 4px;
}
.expand-scroll {
  display: flex;
  flex-direction: column;
  max-height: 60vh;
  overflow-y: scroll;
  align-items: stretch;
}
.expand-scroll-detail {
  display: flex;
  flex-direction: column;
  max-height: 36vh;
  overflow-y: scroll;
  align-items: stretch;
}
.card-chart {
  box-shadow: 4px 4px 20px 2px #afafaf;
  border-radius: 10px;
  height: 100%;
}
td {
  border: none !important;
}
i {
  cursor: pointer;
}
.icon-arrows {
  background: url("./assets/icons/arrow.svg") no-repeat right #ffffff;
  background-position: 95%;
  background-size: 7px;
  -moz-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  -webkit-appearance: none;
}
.icon-arrows-above {
  background: url("./assets/icons/above.svg") no-repeat right #ffffff;
  background-position: 95%;
  background-size: 8px;
  -moz-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  -webkit-appearance: none;
  height: 14px;
  padding: 8px;
}
.icon-arrows-down {
  background: url("./assets/icons/down.svg") no-repeat right #ffffff;
  background-position: 95%;
  background-size: 8px;
  -moz-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  -webkit-appearance: none;
  height: 14px;
  padding: 8px;
}
.icon-filter {
  background: url("./assets/icons/arrow.svg") no-repeat right #ffffff;
  background-position: 95%;
  background-size: 12px;
  -moz-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  -webkit-appearance: none;
}
.select-invalid {
  background: url("./assets/icons/arrow-red.svg") no-repeat right #ffffff;
  background-position: 95%;
  background-size: 7px;
  -moz-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  -webkit-appearance: none;
  border: 1px solid red !important;
  color: red !important;
}
.input-invalid {
  border: 1px solid red !important;
  border-radius: 6px !important;
}
.input-invalid::placeholder {
  color: red !important;
}
.input-form-company {
  border-radius: 5px;
  height: 40px;
  border: solid 1px #23036a;
}
.input-form-company::placeholder {
  color: #868d96;
}
