<div style="padding: 2rem;">
  <div *ngIf="rol == 'admin'">
    <app-dashboard-admin></app-dashboard-admin>
  </div>
  <div *ngIf="rol == 'user'">
    <app-dashboard-user></app-dashboard-user>
  </div>
</div>